.container {
  width: 100%;
  height: 100%;
  .form_zone {
    position: relative;
    background: #fff;
    min-height: calc(100vh - 104px);
    margin-bottom: 30px;
    padding: 12px 0;
    > div {
      min-height: 200px;
    }
    :global {
      .form_row {
        display: flex;
        padding: 0 12px;
        margin-bottom: 4px;

        .form_item {
          position: relative;
          display: inline-block;
          border-radius: 3px;
          border: 1px solid transparent;
          &:hover {
            border: 1px dashed rgba(24, 31, 67, 0.3);
          }
          &.active {
            border: 1px dashed #818a9e;
            .operation,
            .moveUp,
            .moveDown,
            .moveLeft,
            .moveRight {
              display: block;
            }
          }
          &.error {
            border: 1px dashed #ff5568;
          }
          .label_container {
            .label {
              font-size: 12px;
              font-weight: 500;
              color: rgba(24, 31, 67, 0.95);
              line-height: 20px;
              margin-bottom: 2px;
            }
            .tip {
              font-size: 12px;
              font-weight: 400;
              color: rgba(24, 31, 67, 0.5);
              line-height: 20px;
              word-break: break-all;
            }
          }
        }
      }
    }
    .empty_tip {
      position: absolute;
      top: 24px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 260px);
      height: calc(100% - 55px);
      text-align: center;
      font-size: 16px;
      color: #dcdcdc;
      border: 1px dashed #b9bbc6;
      .image {
        width: 107px;
        height: 53px;
        margin: 175px 70px 24px 30px;
      }
      .text {
        width: 216px;
        height: 28px;
        line-height: 28px;
        font-weight: 500;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.85);
        margin: 0 auto;
      }
    }
  }
}
