/* https://create-react-app.dev/docs/adding-css-reset */
@import-normalize;

@import "@styles/base.scss";


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root, #root>.ant-layout {
  height: 100%;
  min-height: inherit;
}

