/* https://create-react-app.dev/docs/adding-css-reset */
@import-normalize;

@import "@styles/base.scss";


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root, #root>.ant-layout {
  height: 100%;
  min-height: inherit;
  >.ant-layout-content {
    height: calc(100% - 56px);
    overflow: hidden;
  }
  &.main-layout {
    background: linear-gradient(90deg, #D1D2E2 0%, rgba(220, 220, 224, 0.82) 61%, #D4D6E0 100%);
  }
}
