.home_header {
  background: transparent;
  .nav_menu {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--custom-nav-menu-item-color, #181f43);

    .nav {
      color: var(--custom-nav-menu-item-color, #181f43);
      padding: 18px 16px;
      line-height: 20px;
      .icon {
        font-size: 20px;
        display:  inline-block;
        vertical-align: middle;
        margin-right: 4px;
      }
    }

    .active {
      color: var(--custom-nav-menu-highlight-color);
      background: var(--custom-nav-menu-item-active-bg, #f0f0f6);
      font-weight: 500;
    }
  }

}
