@import '@styles/mixin.scss';

.form {
  :global {
    .ant-input {
      border-color: #d9d9d9 !important;
      box-shadow: none !important;

      &:hover {
        border-color: rgba(76, 92, 219, 0.85) !important;
      }

      &:focus {
        border-color: rgba(76, 92, 219, 0.85) !important;
        box-shadow: 0 0 0 3px rgba(76, 92, 219, 0.2) !important;
      }
    }
  }
}
