@import "@common/styles/var.scss";
@import "@common/styles/mixin.scss";

$line-color: #e3e4e8;

@mixin insert-lines($location) {
  $left: unset;
  $right: unset;
  $width: 50%;

  @if $location == "left" {
    $right: 0;
  } @else if $location == "right" {
    $left: 0;
  } @else {
    $left: 0;
    $right: 0;
    $width: unset;
  }

  &::before,
  &::after {
    content: "";
    background-color: $flow-line-border-color;
    position: absolute;
    width: $width;
    height: 1px;
    left: $left;
    right: $right;
  }

  &::before {
    top: -0;
  }

  &::after {
    bottom: 0;
  }
}

.branch-node {
  position: relative;
  padding-top: 10px;

  & > .footer {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
      transform: translateX(-50%);
      background-color: $flow-line-border-color;
      z-index: -1;
    }
  }

  .add-branch-button {
    position: absolute;
    left: 50%;
    top: 10px;
    width: 16px;
    height: 16px;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
    box-shadow: none;
    z-index: 1;

    svg {
      width: 10px;
      height: 10px;
    }
  }

  .branchs {
    display: flex;
    background-color: $branch-nodes-background-color;
  }

  .branch {
    @include insert-lines("middle");

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &:first-child {
      @include insert-lines("left");
    }

    &:last-child {
      @include insert-lines("right");
    }

    .main {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 30px 0;

      .content {
        position: relative;
        width: 248px;
        height: auto;
        background-color: $flow-manage-drawer-bg;
        border-radius: 3px;
        color: $form-item-label-text-color;
        z-index: 1;
        cursor: pointer;

        &:hover,
        &.show-del {
          .action {
            opacity: 1 !important;
          }
        }

        &.show-del {
          .action {
            .icon {
              color: $primary-color;
            }
          }
        }

        .conditions {
          padding: 12px;
          border-radius: 3px;

          &.invalid {
            box-shadow: 0 0 0 4px rgba(#ff5568, 0.12);

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              border: 2px solid #ff5568;
              border-radius: 3px;
            }
          }

          .or {
            background-color: $input-background-normal-color;

            &::after {
              content: "或";
              display: block;
              padding-top: 4px;
              margin-bottom: 4px;
              background-color: #fff;
              font-weight: bold;
            }

            &:nth-last-child(2) {
              margin-bottom: 16px;

              &::after {
                content: "";
                display: none;
              }
            }

            .and {
              padding: 8px;
              line-height: 22px;
              color: $form-item-label-text-color;

              .symbol {
                margin-left: 4px;
                margin-right: 4px;
                color: $flow-form-symbol-color;
                white-space: nowrap;
              }
            }
          }
        }

        .desc {
          @include center("flex");

          line-height: 20px;
          font-size: 12px;

          svg {
            width: 16px;
            height: 16px;
            margin-right: 8px;
          }
        }

        .action {
          position: absolute;
          top: -22px;
          right: -13px;
          width: 40px;
          padding-bottom: 10px;
          line-height: 1;
          font-size: 16px;
          z-index: 9;
          cursor: pointer;
          text-align: center;
          opacity: 0;
          transition: opacity ease-in-out 0.3s;

          &:hover > .icon {
            color: $primary-color;
          }
        }
      }
    }

    .line {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      width: 1px;
      background-color: $flow-line-border-color;
    }

    .stretch {
      flex: 1 1 0;
      width: 1px;
      background-color: $flow-line-border-color;
    }
  }

  .footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    &.over {
      padding: 110px 0;
    }
    &.sub-branch {
      padding: 165px 0;
    }
    // &.isDragging {
    //   background-color: rgba(215,215,215,0.6);
    // }
  }
}
