@import '@common/styles/var.scss';
@import '@common/styles/mixin.scss';

.detail {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 65px);
}

.header {
  @include center('flex');

  justify-content: space-between;
  flex-shrink: 0;
  padding-top: 12px;
  padding-bottom: 8px;

  .tool {
    @include center('flex');

    .back {
      cursor: pointer;
    }
  }

  .icon {
    font-size: 20px;
    line-height: 1;

    &.arrow {
      font-size: 12px;
    }
  }

  .dropdown {
    @include center('flex');

    margin-left: 24px;

    .name {
      @include ellipsis;

      max-width: 200px;
      margin-right: 4px;
      cursor: pointer;
    }
  }
}

.scenes {
  min-width: 184px;
  max-width: 250px;
  max-height: 300px;
  padding: 8px;
  border-radius: 3px;
  overflow-y: auto;

  .scene {
    @include ellipsis;

    line-height: 32px;
    color: #181f43;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;

    &.active {
      color: $primary-color;
      background-color: rgba(76, 92, 219, 0.06);
    }
  }
}

.content {
  flex: 1 1 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  overflow: hidden;
}

.column {
  position: relative;
  padding-bottom: 20px;
  overflow-y: auto;

  .add {
    @include center('flex');

    line-height: 22px;
    color: #181f43;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;

    .add-icon {
      margin-right: 4px;
      font-size: 16px;
    }
  }

  .column-header {
    @include center('flex');

    justify-content: space-between;
    height: 54px;

    .column-icon {
      margin-right: 8px;
      font-size: 32px;
    }

    .title {
      @include center('flex');

      .text {
        color: rgba(0, 0, 0, 0.85);
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .column-content {
    position: relative;

    &.column-empty {
      @include center('flex');

      justify-content: center;
      height: 377px;
      border-radius: 3px;
      border: 1px solid rgba(24, 31, 67, 0.12);
    }
  }
}

.apis {
  .api {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.buttons {
  @include center('flex');

  flex: 1 1 0;

  .group {
    flex: 1 1 0;

    & > :first-child {
      margin-right: 12px;
    }
  }
}

.form {
  :global {
    .ant-form-item {
      &:last-child {
        margin-bottom: 0;
      }

      .ant-input {
        height: 87px;
      }
    }
  }
}
