.name {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  line-height: 17px;
  background-color: #4c5cdb;
  font-size: 12px;
  font-weight: bold;

  &.round {
    border-radius: 50%;
  }
}
