.row {
  & > .col {
    flex-shrink: 1;
    padding-left: 20px;
  }
}

.tabs {
  &.disabled {
    :global {
      .ant-tabs-nav-add,
      .ant-tabs-tab-remove {
        cursor: not-allowed;
      }
    }
  }
}
