.empty_app {
  display: flex;
  width: 812px;
  height: 394px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  .flow_app,
  .screen_app {
    position: relative;
    width: 394px;
    height: 394px;
    text-align: center;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid rgba(24, 31, 67, 0.12);
    cursor: pointer;
    &.active {
      border: 1px solid rgba(24, 31, 67, 0.5);
    }
    :global {
      .ant-form-item .ant-form-item-explain {
        text-align: left;
      }
    }
    .close {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 16px;
      height: 16px;
      z-index: 3;
      cursor: pointer;
      .back {
        display: inline-block;
        width: 16px;
        height: 16px;
      }
    }
    .title {
      height: 34px;
      line-height: 34px;
      font-size: 24px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.85);
      margin-top: 68px;
    }
    .tip {
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(24, 31, 67, 0.5);
      margin-top: 8px;
    }
    .image {
      margin-top: 34px;
    }
  }
  .flow_app {
    &:hover {
      border: 1px solid rgba(24, 31, 67, 0.5);
    }
    margin-right: 24px;
    .form {
      width: 330px;
      margin: 0 auto;
      margin-top: 40px;
      .submit {
        width: 100%;
      }
    }
  }
  .screen_app {
    cursor: not-allowed;
  }
}
