@import '@common/styles/var.scss';

.tag {
  padding: 4px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  line-height: 1;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;

  &.primary {
    border-color: rgba(#4c5cdb, 0.35);
    color: #4c5cdb;
  }

  &.success {
    color: #06c498;
    border-color: rgba(#06c498, 0.35);
  }

  &.error {
    border-color: rgba(#ff5568, 0.3);
    color: #ff5568;
  }

  &.warning {
    border-color: rgba(#ff9900, 0.3);
    color: #ff9900;
  }

  &.revoke {
    border-color: rgba($primary-text-color, 0.5);
    color: $caption-text-color;
  }
}
