@import '@common/styles/var.scss';

.tag {
  padding: 4px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  line-height: 1;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;

  &.primary {
    border-color: $flow-detail-tag-primary-border-color;
    color: $flow-detail-tag-primary-text-color;
  }

  &.success {
    border-color: $flow-detail-tag-success-border-color;
    color: $flow-detail-tag-success-text-color;
  }

  &.error {
    border-color: $flow-detail-tag-error-border-color;
    color: $flow-detail-tag-error-text-color;
  }

  &.warning {
    border-color: $flow-detail-tag-warning-border-color;
    color: $flow-detail-tag-warning-text-color;
  }

  &.revoke {
    border-color: $flow-detail-tag-revoke-border-color;
    color: $flow-detail-tag-revoke-text-color;
  }
}
