@import "@common/styles/var.scss";

.toolbox-item {
    display: flex;
    align-items: center;
    width: 120px;
    height: 40px;
    border: 1px solid $border-normal-color;
    margin-bottom: 12px;
    padding: 0 12px;
    border-radius: 3px;
    cursor: move;
    .icon-container {
        display: flex;
        align-items: center;
        width: 24px;
        margin-right: 4px;
        .icon{
            font-size: 20px;
        }
    }
    .name {
        flex:1;
        max-width: 100%;
        text-align: center;
    }
}
