.app-empty {
  display: flex;
  padding: 48px 24px;
  & > .empty-item {
    position: relative;
    width: 174px;
    height: 286px;
    background: #ffffff;
    text-align: center;
    border-radius: 3px;
    padding: 38px 20px;
    border: 1px solid rgba(24, 31, 67, 0.12);
    margin-right: 24px;
    cursor: pointer;
    & > .title {
      font-size: 20px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      margin-top: 10px;
      line-height: 32px;
    }
    & > .desc {
      font-size: 14px;
      font-weight: 400;
      color: rgba(24, 31, 67, 0.5);
      line-height: 20px;
      margin-top: 4px;
    }
    & > .children {
      display: flex;
      justify-content: center;
      margin-top: 54px;
      & > .image {
        width: 68px;
      }
    }
    & > .button {
      display: none;
      width: 48px;
      height: 48px;
      justify-content: center;
      margin-top: 64px;
    }
    &:hover {
      border: 1px solid rgba(24, 31, 67, 0.5);
      & > .children {
        display: none;
      }
      & > .button {
        display: inline-block;
      }
    }
  }
}
