.dict_content {
  padding: 12px 0;
}

.custom_select {
  margin-top: 10px;

  .input_number {
    width: 100%;
    
  }
 
}
:global {
  .input_number .ant-input-number-input {
    font-size: 14px !important;
  }
}
.text_tips {
  color: #b9b2b2;
  display: inline-block;
  font-size: 13px;
  padding: 5px 10px 0 10px;
}

