@import '@styles/mixin.scss';

.btn-editor {
  @include center('flex');

  margin-bottom: 14px;

  .btn-content {
    @include center('flex');
  }

  .btn-alias {
    flex: 1 1 0;
    margin: 0 10px;
  }

  .choose {
    margin-right: 10px;
  }
}

.btn-configs {
  & > .btn-editor:last-child {
    margin-bottom: 0;
  }

  .approve {
    color: #fff;
    background-color: #63c4ad;
    border-color: #63c4ad;

    &:hover {
      color: #fff;
      border-color: rgba(#63c4ad, 0.9);
      background-color: rgba(#63c4ad, 0.9);
    }

    &:active,
    &:focus {
      color: #fff;
      border-color: #63c4ad;
      background-color: #63c4ad;
    }
  }

  .cascader {
    display: block;
    width: unset !important;
    margin-bottom: 14px;
    margin-right: 36px;
  }

  :global {
    .ant-cascader-menus {
      & > div {
        display: flex;
        align-items: stretch;
      }

      .ant-cascader-menu {
        width: 135px;
        max-height: 180px;
      }
    }
  }
}
