@import '@common/styles/var.scss';

.container {
  position: relative;
  padding: 24px 56px;

  .header {
    margin-bottom: 24px;
    line-height: 34px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
  }
  .operation {
    position: absolute;
    right: 56px;
    width: 100px;
    height: 44px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .export {
      display: flex;
      align-items: center;
      height: 22px;
      padding-right: 12px;
      border-right: 1px solid rgba(24, 31, 67, 0.12);
      cursor: pointer;
      .icon {
        font-size: 20px;
        margin-right: 4px;
      }
      .text {
        font-size: 14px;
        font-weight: 400;
        color: #181f43;
      }
      &:hover {
        .icon {
          color: $primary-color;
        }
        .text {
          color: $primary-text-color;
        }
      }
    }
    .refresh {
      padding-left: 12px;
      cursor: pointer;
      .icon {
        font-size: 20px;
      }
      &:hover {
        .icon {
          color: $primary-color;
        }
      }
    }
  }

  .form {
    margin-bottom: 24px;

    .subapp-selector {
      min-width: 100px;
      max-width: 300px;

      :global {
        .ant-select-selector {
          padding-left: 0 !important;
        }
      }
    }

    :global {
      .ant-form-item {
        line-height: 40px;
      }
    }
  }

  .table {
    width: 100%;
    margin-top: 24px;
  }
}

.dropdown {
  max-width: 200px;
}
