@import '@common/styles/var.scss';

.container {
  position: relative;
  padding: 24px 56px;

  .header {
    margin-bottom: 24px;
    line-height: 34px;
    font-size: 24px;
    color: $menu-title-text-color;
    font-weight: bold;
  }

  .operation {
    position: absolute;
    right: 56px;
    width: 100px;
    height: 44px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .export {
      display: flex;
      align-items: center;
      height: 22px;
      padding-right: 12px;
      border-right: 1px solid $menu-line-color;
      cursor: pointer;

      .icon {
        font-size: 20px;
        margin-right: 4px;
      }

      .text {
        font-size: 14px;
        font-weight: 400;
        color: $title-text-color;
      }

      &:hover {
        .icon {
          color: $primary-color;
        }

        .text {
          color: $primary-text-color;
        }
      }
    }

    .refresh {
      display: flex;
      align-items: center;
      padding-left: 12px;
      cursor: pointer;

      .icon {
        font-size: 20px;
      }

      &:hover {
        .icon {
          color: $primary-color;
        }
      }
    }
  }

  .form {
    margin-bottom: 24px;

    .subapp-selector {
      min-width: 100px;
      max-width: 300px;

      :global {
        .ant-select-selector {
          padding-left: 0 !important;
        }
      }
    }

    :global {
      .ant-form-item {
        line-height: 40px;
      }
    }
  }

  .table {
    width: 100%;
    margin-top: 24px;

    .dynamic-cell {
      max-width: 150px;
    }

    .tab-detail {
      max-width: 150px;
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .pop-container {
    min-width: 100px;
    max-width: 600px;
    max-height: 400px;
    overflow: auto;

    .header {
      display: flex;
      height: 32px;

      .cell {
        font-weight: 600;
      }
    }

    .content {
      .row {
        display: flex;
        align-items: center;
        height: 32px;
      }
    }

    .cell {
      flex: 1;
      padding: 4px;
      font-size: 12px;
    }
  }
}

.dropdown {
  max-width: 200px;
}
