@import '@common/styles/var.scss';

.label_container {
  .label {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 2px;
  }

  .desc {
    font-size: 12px;
    font-weight: 400;
    color: $caption-text-color;
    line-height: 20px;
    word-break: break-all;
  }
}
