@import "@common/styles/var.scss";

.app-preview-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1006;
  width: 100vw;
  height: 100vh;
  .app-preview-modal {
    &.ant-modal {
      max-width: 100vw;
      height: 100vh;
      top: 0;
      padding: 0;
      .ant-modal-content {
        height: 100vh;
        .ant-modal-close {
          display: none;
        }
        .ant-modal-header {
          padding-bottom: 0;
          height: 56px;
          .header {
            display: flex;
            justify-content: flex-end;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 88;
            width: 100%;
            height: 56px;
            line-height: 56px;
            background: transparent;
            padding: 0 18px;
            & > .close {
              cursor: pointer;
              svg {
                font-size: 18px;
              }
              &:hover {
                svg {
                  color: $primary-color;
                }
              }
            }
          }
        }
        .ant-modal-body {
          padding: 0;
          max-height: 100vh;
          overflow-y: auto;
          & > .app-setup-preview {
            height: 100vh;
            width: 100%;
          }
        }
      }
    }
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1008;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 24px;
    cursor: pointer;
    .icon {
      font-size: 16px;
    }
    &.light {
      background: rgba(24, 31, 67, 0.75);
      .icon {
        color: #c2c4cd;
      }
    }
    &.dark {
      background: rgba(255, 255, 255, 0.8);
      .icon {
        color: #202023;
      }
    }
  }
  &.hidden {
    display: none;
  }
}
