.container {
  .header {
    .searchContainer {
      :global {
        #start_form {
          width: 100%;
          .flowName {
            flex: 1;
            margin-right: 40px;
          }
          .state {
            flex: 1;
            margin-right: 40px;
          }
          .startTime {
            flex: 2;
            margin-right: 0;
          }
        }
      }
    }
    .operationContainer {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 12px;
      .operation {
        display: flex;
        .search {
          flex: 0 0 60px;
          border-radius: 3px;
          border: 1px solid rgba(76, 92, 219, 0.85);
          font-size: 14px;
          font-weight: 400;
          color: #4c5cdb;
          margin-right: 12px;
          &:hover {
            border: 1px solid rgba(76, 92, 219, 0.5);
            color: rgba(76, 92, 219, 0.8);
          }
        }
        .reset {
          flex: 0 0 60px;
          border-radius: 3px;
          border: 1px solid rgba(24, 31, 67, 0.12);
          font-size: 14px;
          font-weight: 400;
          color: rgba(24, 31, 67, 0.95);
          &:hover {
            border: 1px solid rgba(24, 31, 67, 0.3);
          }
        }
        .unfold {
          height: 32px;
          line-height: 32px;
          cursor: pointer;
          .icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            color: #818a9e;
            margin-right: 4px;
          }
          .text {
            font-size: 14px;
            font-weight: 400;
            color: rgba(24, 31, 67, 0.95);
          }
        }
      }
    }
  }
  .content {
    margin-top: 24px;
    .name {
      cursor: pointer;
      &:hover {
        color: #4c5cdb;
      }
    }
    .currentNode,
    .stayTime {
      display: flex;
      align-items: center;
      .icon {
        font-size: 16px;
        margin-left: 4px;
        cursor: pointer;
        &:hover {
          color: #4c5cdb;
        }
      }
    }
  }
}

:global {
  .ant-popover-inner-content {
    .nodes {
      .node {
        display: flex;
        align-items: center;
        line-height: 22px;
        .name {
          font-size: 14px;
          font-weight: 400;
          color: rgba(24, 31, 67, 0.75);
          margin-right: 16px;
        }
      }
    }
  }
}
