@import '@common/styles/var.scss';

.container {
  .header {
    .searchContainer {
      :global {
        #start_form {
          width: 100%;

          .flowName {
            flex: 1;
            margin-right: 40px;
          }

          .state {
            flex: 1;
            margin-right: 40px;
          }

          .startTime {
            flex: 2;
            margin-right: 0;
          }
        }
      }
    }

    .operationContainer {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 12px;

      .operation {
        display: flex;

        .search {
          flex: 0 0 60px;
          border-radius: 3px;
          border: 1px solid rgba(76, 92, 219, 0.85);
          font-size: 14px;
          font-weight: 400;
          color: $primary-color;
          margin-right: 12px;

          &:hover {
            border: 1px solid rgba(76, 92, 219, 0.5);
            color: rgba(76, 92, 219, 0.8);
          }
        }

        .reset {
          flex: 0 0 60px;
          border-radius: 3px;
          font-size: 14px;
          font-weight: 400;
        }

        .unfold {
          height: 32px;
          line-height: 32px;
          cursor: pointer;

          .icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            color: #818a9e;
            margin-right: 4px;
          }

          .text {
            font-size: 14px;
            font-weight: 400;
            color: $menu-title-text-color;
          }
        }
      }
    }
  }

  .content {
    margin-top: 24px;

    .name {
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }

    .currentNode,
    .stayTime {
      display: flex;
      align-items: center;

      .text {
        margin-right: 4px;
      }

      .icon {
        font-size: 16px;
        margin-left: 4px;
        cursor: pointer;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .progress-wrapper {
      display: flex;
      align-items: center;
    }

    .text-progress {
      flex: 0 0 50px;
      padding-left: 6px;
    }
  }
}

:global {
  .ant-popover-inner-content {
    .nodes {
      .node {
        display: flex;
        align-items: center;
        line-height: 22px;

        .name {
          font-size: 14px;
          font-weight: 400;
          color: $form-field-name-text-color;
          margin-right: 16px;
        }

        .stay {
          margin-right: 16px;
        }
      }
    }
  }
}
