@import '@common/styles/mixin.scss';

.container {
  display: inline-block;
  padding: 0;
  border-bottom: 1px solid rgba(24, 31, 67, 0.12);
  background-color: #fff;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
  }

  .logo {
    margin-right: 24px;
    font-size: 0;

    img {
      height: 42px;
    }
  }
}

.user {
  @include center('flex');

  flex-shrink: 0;

  .avatar {
    margin-right: 8px;
  }

  .name {
    line-height: 22px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (min-width: 1366px) {
  .container {
    display: block;
  }
}
