.container {
  background-color: #f6f6f6;
  height: calc(100vh - 64px);
  .icon_box{
    position: absolute;
    top:0;
    right: 0;

    .icon_item{
      display: inline-block;
      width: 24px;
      height: 24px;
      background-color: aqua;
      text-align: center;
    }
  }
}
