@import '@common/styles/var.scss';
@import '@common/styles/mixin.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    flex-shrink: 0;
    border-bottom: 1px solid rgba(#181f43, 0.12);
  }

  .main {
    flex: 1 1 0;
    display: flex;
    height: 100%;
    overflow: auto;

    .content {
      flex: 1 1 0;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .flow {
      flex-shrink: 0;
      width: 310px;
      padding: 24px;
      border-left: 1px solid rgba(#181f43, 0.12);
      overflow-y: auto;

      .detail {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 8px;
          top: 2px;
          bottom: 0;
          z-index: -1;
          width: 1px;
          background-color: rgba(#181f43, 0.12);
        }
      }
    }

    .form {
      padding-top: 30px;
    }
  }
}

.form {
  width: 705px;
  margin: 0 auto;

  .title {
    margin-bottom: 24px;
    line-height: 34px;
    color: rgba(#000, 0.85);
    font-size: 24px;
    font-weight: bold;
  }
}

.start-form-wrapper {
  flex: 1 1 0;
  padding: 25px;
  overflow-y: auto;
}

.empty {
  @include center('flex');

  flex-direction: column;
  padding-top: 100px;

  img {
    width: 200px;
  }
}
