.basic-setup-form-component {
  background: transparent;
  .upload {
    position: relative;
    width: 100%;
    min-height: 114px;
    .icon {
      color: rgba(24, 31, 67, 0.3);
      font-size: 32px;
    }
  }
}
