@import "@common/styles/var.scss";

.app-setup-config {
  width: 420px;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 6px 24px 0px rgba(24, 31, 67, 0.1);
  // 覆盖ant-tabs的样式
  .ant-tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
    .ant-tabs-nav {
      height: 56px;
      line-height: 56px;
      padding: 16px 24px 0 24px;
      margin: 0;
      .ant-tabs-nav-list {
        .ant-tabs-tab {
          height: 28px;
          line-height: 28px;
          font-size: 14px;
          font-weight: 400;
          color: rgba(24, 31, 67, 0.75);
          &.ant-tabs-tab-active {
            .ant-tabs-tab-btn {
              font-size: 18px;
              font-weight: 500;
              color: rgba(0, 0, 0, 0.85);
            }
          }
        }
        .ant-tabs-ink-bar {
          height: 5px;
          margin-top: 5px;
          background-color: $primary-color;
        }
      }
      .ant-tabs-extra-content {
        padding-right: 2px;
      }
    }
    .ant-tabs-content-holder {
      & > .ant-tabs-content {
        height: 100%;
      }
      .ant-form {
        .ant-form-item-label {
          font-size: 14px;
          font-weight: 600;
          color: #181f43;
        }
      }
    }
  }
}
