.menu-setup-list-component {
  flex: 1;
  .header {}
  .list {
    .add {}
    .menu {
      .menu-item {
        &.active {
          background: #89aded;
        }
        display: flex;
        justify-content: space-around;
        margin: 10px;
        padding: 10px;
        border: 1px solid cornflowerblue;
        .text {}
        .acts {
          display: inline-flex;
          width: 100px;
          justify-content: space-evenly;
          .item {
            cursor: pointer;
            &.add {}
            &.remove {}
            &.drag {}
          }
        }
      }
    }
  }
}