.container {
  width: 100%;
  display: flex;
  flex: 1;
  background-color: rgb(245, 245, 247);
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 31, 67, 0.12);
  }
}
:global {
  .pop_tip.ant-popover-placement-top {
    position: fixed;
    top: 100px !important;
    left: 50% !important;
    z-index: 88;
    transform: translateX(-50%);
  }
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 31, 67, 0.12);
  }
}
