@import "@common/styles/global.scss";
@import "@common/styles/antd.scss";
@import "@common/styles/var.scss";
@import "@common/styles/mixin.scss";

.easy-dock-content {
  margin: 0 auto;
}

.ant-modal-footer {
  .ant-btn {
    &:first-child {
      border: none;
      background-color: transparent;
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 1365px) {
  .easy-dock-content {
    width: 1230px;
  }
}

@media screen and (min-width: 1366px) {
  .easy-dock-content {
    width: 90vw;
  }
}

@media screen and (min-width: 1401px) {
  .main-content {
    width: 90%;
  }
}
