.form {
  .row {
    flex-wrap: nowrap;

    & > .col {
      flex-shrink: 1;

      & + .col {
        margin-left: 20px;
      }
    }
  }

  :global {
    .ant-form-item-required {
      align-items: flex-start;

      &::before {
        padding-top: 4px;
      }
    }
  }
}
