@import '@common/styles/var.scss';

.select-card {
  .select_project {
    min-width: 200px;
    max-width: 264px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      width: 1px;
      height: 16px;
      border: 1px solid rgba(24, 31, 67, 0.12);
    }

    &.ant-select-selector {
      border: 1px solid transparent;
    }

    &.ant-select:not(.ant-select-disabled):hover .ant-select-selector, &.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector,
    {
      box-shadow: none;
      border: 1px solid transparent;
    }

    &.ant-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      background-color: transparent !important;
    }
  }
}

.dropdown-select-card {
  .tick_icon {
    width: 20px;
    height: 20px;
    line-height: 23px;
    background-color: #06C498;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 12px;
    color: #fff !important;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
      background-color: rgba(6, 196, 152, 0.3);
    }
  }

  .close {
    font-size: 12px;
    cursor: pointer;

    &:hover {
      color: #4C5CDB;
    }
  }

  .dropdown-select-menu {

    text-align: left;

    .field-option {
      height: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.active {
        color: #4C5CDB;
        background: rgba(76, 92, 219, 0.08);
      }

      .tick_icon {
        width: 18px;
        height: 18px;
        line-height: 21px;
      }

      .input-name {
        background-color: transparent;
      }

      &:hover {
        .option-name {
          max-width: calc(100% - 52px);
        }

        background: rgba(24, 39, 67, 0.04);

        .edit-icon, .delete-icon {
          display: inline-block;
        }
      }

      .option-name {
        max-width: 100%;
        padding: 0 8px;
        flex: 1;
      }

      .edit-icon {
        cursor: pointer;
        color: $icon-color;
        display: none;
        margin-right: 12px;

        &:hover {
          color: #4C5CDB;
        }
      }

      .delete-icon {
        display: none;
        margin-right: 8px;
        color: $icon-color;
        cursor: pointer;

        &:hover {
          color: #4C5CDB;
        }
      }
    }
  }

  .footer_select {
    display: flex;
    margin-top: 10px !important;

    .ant-row.ant-form-item {
      margin-bottom: 0;
      width: 100%;

      .btn_add_field {
        width: 100%;
      }
    }
  }
}

.ant-popover {
  &.dropdown-popover-delete {
    z-index: 10000;
  }
}



