@import '@common/styles/var.scss';
@import '@common/styles/mixin.scss';
@import '@/styles/var.scss';

.statusbar {
  position: relative;
  display: flex;
  justify-content: center;

  &.processing {
    background-color: $start-flow-status-processing-bg;
  }

  &.revert {
    background-color: $start-flow-status-revert-bg;
  }

  &.undo {
    background-color: $start-flow-status-undo-bg;
  }

  &.terminated {
    background-color: $start-flow-status-terminated-bg;
  }

  &.finish {
    background-color: $start-flow-status-finish-bg;
  }

  .content {
    @include center('flex');
    width: 84%;

    .image {
      width: 150px;
      height: 80px;
      flex-shrink: 0;
      object-fit: contain;
    }
  }
}

.status {
  @include center('flex');

  flex: 1;
  overflow: hidden;

  .cell {
    flex: 1 1 0;

    &:nth-of-type(2) {
      border-right: 1px solid $border-normal-color;
      border-left: 1px solid $border-normal-color;
    }

    &:last-of-type {
      border-right-color: transparent;
    }

    .time-used {
      padding-left: 35px;
      line-height: 20px;
      color: $title-text-color;
      font-size: 12px;
      font-weight: 400;
    }

  }

  // 流程办结状态栏
  &.finish {
    .cell {
      justify-content: flex-start;
    }

    & > div:last-child {
      flex: 0 0 250px;

      .track {
        padding: 9px 12px;
      }
    }
  }
}

.track {
  display: inline-flex;
  align-items: center;
  padding: 2px 8px;
  border: 1px solid $border-normal-color;
  border-radius: 4px;
  cursor: not-allowed;

  svg {
    margin-left: 4px;
    font-size: 12px;
  }
}

.flow-progress {

  position: relative;
  line-height: 0 !important;
  margin-bottom: 6px;

  :global {
    .ant-progress-text {
      position: absolute;
      left: -8px;
      top: -21px;
      font-size: 16px;
      color: $form-title-color;
    }

    .ant-progress-bg {
      height: 4px !important;
    }

    .ant-progress-outer {
      padding-right: 0;
    }
  }

}

.cell {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 15px;
  overflow: hidden;

  .cell-title {
    @include ellipsis;

    margin-bottom: 4px;
    line-height: 24px;
    color: $label-hint-text-color;
    font-size: 16px;
    font-weight: bold;
  }

  .cell-desc {
    line-height: 20px;
    color: $form-symbol-color;
    font-size: 12px;
    font-weight: 400;
  }

  .cell-icon {
    flex-shrink: 0;
    margin-top: 1px;
    margin-right: 8px;
    font-size: 20px;
  }

  .cell-content {
    overflow: hidden;
    font-size: 0;
  }
}
