@import '@common/styles/var.scss';
@import '@common/styles/mixin.scss';

.statusbar {
  position: relative;
  display: flex;
  justify-content: center;

  &.processing {
    background-color: rgba(#4c5cdb, 0.08);
  }

  &.revert {
    background-color: rgba(#ff9900, 0.08);
  }

  &.undo {
    background-color: rgba(#182743, 0.04);
  }

  &.terminated {
    background-color: rgba(#ff5568, 0.08);
  }

  &.finish {
    background-color: rgba(#06c498, 0.08);
  }

  .content {
    @include center('flex');
    width: 84%;

    .image {
      width: 150px;
      height: 80px;
      flex-shrink: 0;
      object-fit: contain;
    }
  }
}

.status {
  @include center('flex');

  flex: 1;
  overflow: hidden;

  .cell {
    flex: 1 1 0;

    &:nth-of-type(2) {
      border-right: 1px solid rgba(#181f43, 0.12);
      border-left: 1px solid rgba(#181f43, 0.12);
    }

    &:last-of-type {
      border-right-color: transparent;
    }

    .time-used {
      line-height: 20px;
      color: $title-text-color;
      font-size: 12px;
      font-weight: 400;
    }
  }

  // 流程办结状态栏
  &.finish {
    .cell {
      justify-content: flex-start;
    }

    & > div:last-child {
      flex: 0 0 250px;

      .track {
        padding: 9px 12px;
      }
    }
  }
}

.track {
  display: inline-flex;
  align-items: center;
  padding: 2px 8px;
  border: 1px solid rgba(#181f43, 0.12);
  border-radius: 4px;
  cursor: not-allowed;

  svg {
    margin-left: 4px;
    font-size: 12px;
  }
}

.cell {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 15px;
  overflow: hidden;

  .cell-title {
    @include ellipsis;

    margin-bottom: 4px;
    line-height: 24px;
    color: $label-hint-text-color;
    font-size: 16px;
    font-weight: bold;
  }

  .cell-desc {
    line-height: 20px;
    color: $flow-form-symbol-color;
    font-size: 12px;
    font-weight: 400;
  }

  .cell-icon {
    flex-shrink: 0;
    margin-top: 1px;
    margin-right: 8px;
    font-size: 20px;
  }

  .cell-content {
    overflow: hidden;
  }
}
