.muliText {
  display: flex;
  height: 32px;
  line-height: 32px;
  padding: 0 6px;
  align-items: center;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  .textContainer {
    display: flex;
    justify-content: flex-end;
    max-width: calc(100% - 100px);
    text-align: right;
    .textWrapper {
      margin-right: 5px;
      padding: 0 2px;
      border-radius: 3px;
      line-height: 22px;
      background: #e5f2fb;
    }
  }
  .input {
    width: 90px;
    display: inline-block;
    height: 22px;
    line-height: 20px;
    vertical-align: middle;
    padding: 0 8px;
    outline: 0;
    margin-left: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px dashed #91a1b7;
  }
}
