@import '@common/styles/var.scss';

.container {
  .title {
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 40px;
    background: rgba(24, 39, 67, 0.04);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(24, 31, 67, 0.95);

    > div {
      flex: 1;
      text-align: center;
      cursor: pointer;
      position: relative;

      &:not(.active) {
        &::after {
          content: '';
          width: 1px;
          height: 34px;
          position: absolute;
          top: 3px;
          right: 0;
          background-color: #e3e4e8;
        }
      }

      &:last-child {
        &::after {
          width: 0;
        }
      }

      &.active {
        background: #ffffff;
        border: 1px solid $button-default-border-color;
        font-weight: 500;
        color: $primary-color;

        &:first-child {
          border-radius: 3px 0 0 3px;
        }

        &:last-child {
          border-radius: 0 3px 3px 0;
        }
      }
    }
  }

  .custom_list {
    padding: 12px 0;

    .custom_item {
      position: relative;
      height: 40px;
      line-height: 40px;
      border-radius: 3px;
      margin-bottom: 12px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(24, 31, 67, 0.95);

      .delete,
      .move {
        position: absolute;
        top: 0;
        z-index: 10;
        width: 28px;
        height: 40px;
        line-height: 40px;
        text-align: center;

        .iconfont {
          color: #818a9e;
        }
      }

      .move {
        right: 0;

        .iconfont {
          cursor: move;
        }
      }

      .delete {
        right: 29px;
        border-right: 1px solid $button-default-border-color;

        .iconfont {
          cursor: pointer;
        }
      }
    }

    .add_custom {
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 3px;
      border: 1px solid $button-default-border-color;
      font-size: 14px;
      font-weight: 400;
      color: rgba(24, 31, 67, 0.95);
      cursor: pointer;

      .iconfont {
        font-size: 14px;
        margin-right: 4px;
      }
    }
  }

  .dict_content {
    padding: 12px 0;
  }

  .content {
    .form {
      flex-direction: column;
      margin-top: 24px;
      margin-bottom: 0;

      .apiConfig {
        & > div {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      :global {
        .ant-form-item-label {
          text-align: left;
          margin-bottom: 4px;
        }
      }
    }
  }
}
