@import './var.scss';

.ant-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;

  svg {
    margin-right: 4px;
  }
}

.ant-btn:hover,
.ant-btn:active,
.ant-btn:focus {
  color: $primary-color;
  border-color: $primary-color;

  svg {
    color: inherit;
  }
}

.ant-btn-primary {
  &,
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }

  &:hover {
    background-color: #6774e0;
    border-color: #6774e0;
  }

  &.disabled {
    background-color: #a6ace2;
  }

  svg {
    color: inherit;
  }
}

.ant-btn-circle {
  svg {
    margin-right: 0;
  }
}

.ant-switch-checked {
  background-color: #06c498;
}

// 定制弹框
.ant-modal {
  padding: 0;

  .ant-modal-content {
    padding: 32px;
    padding-bottom: 0;

    .ant-modal-header {
      padding: 0;
      padding-bottom: 12px;
      border-bottom: 1px solid rgba(24, 31, 67, 0.08);

      .ant-modal-title {
        line-height: 24px;
        color: rgba(24, 31, 67, 0.55);
        font-size: 16px;
        font-weight: 400;
      }
    }

    .ant-modal-close {
      top: 12px;
      right: 12px;
    }

    .ant-modal-close-x {
      width: 52px;
      height: 52px;
    }
  }

  .ant-modal-body {
    padding: 12px 0 24px;
  }

  .ant-modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 96px;
    margin-left: -32px;
    margin-right: -32px;
    padding: 0 32px;
    border: none;
    background-color: rgba(24, 31, 67, 0.04);
  }
}

.ant-modal-mask {
  background-color: rgba(24, 31, 67, 0.55);
}

.ant-input {
  border-radius: 3px;
  border-color: transparent;
  background-color: rgba(24, 31, 67, 0.04);

  &:hover {
    border-color: rgba(76, 92, 219, 0.85);
  }

  &:focus {
    border-color: rgba(76, 92, 219, 0.85);
    box-shadow: 0 0 0 3px rgba(76, 92, 219, 0.2);
  }

  &.ant-input-lg {
    font-size: 14px;
  }
}

.ant-form-item-has-error .ant-input {
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.5);
}

// 定制抽屉
.ant-drawer-content {
  padding: 0;

  .ant-drawer-header {
    padding-top: 32px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 12px;
    margin-left: 32px;
    margin-right: 32px;

    .ant-drawer-title {
      line-height: 24px;
      color: rgba(24, 31, 67, 0.55);
    }

    .ant-drawer-close {
      top: 16px;
      right: -21px;
    }
  }

  .ant-drawer-body {
    padding: 32px;
  }

  .ant-drawer-footer {
    display: flex;
    justify-content: flex-end;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    padding-bottom: 32px;
    background-color: rgba(24, 31, 67, 0.04);
  }
}

.ant-radio-checked {
  .ant-radio-inner {
    border-color: $primary-color;

    &::after {
      background-color: $primary-color;
    }
  }
}

// 定制dropdown
.ant-dropdown-menu {
  min-width: 120px;
  padding: 8px 0;
  border-radius: 3px;
  box-shadow: 0px 6px 24px 0px rgba(24, 31, 67, 0.1);
}
