@mixin center($type, $zIndex: 1) {
  @if $type == 'flex' {
    display: flex;
    align-items: center;
  }

  @if $type == 'absolute' {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: $zIndex;
    transform: translate3d(-50%, -50%, 0);
  }
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
