@font-face {
  font-family: 'iconfont';
  src: url('./iconfont.woff') format('woff'), url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icongongpingbeifen2:before {
  content: '\e75c';
}

.icongongpingbeifen5:before {
  content: '\e75d';
}

.icongongpingbeifen6:before {
  content: '\e75e';
}

.icongongpingbeifen4:before {
  content: '\e75f';
}

.iconfuzhi:before {
  content: '\e752';
}

.icongengduo:before {
  content: '\e753';
}

.icondaochu:before {
  content: '\e754';
}

.iconfenxiang:before {
  content: '\e755';
}

.iconxiangqing:before {
  content: '\e756';
}

.iconpeizhi:before {
  content: '\e757';
}

.iconyulan:before {
  content: '\e758';
}

.iconshengji:before {
  content: '\e759';
}

.iconjicheng:before {
  content: '\e75a';
}

.iconqidong:before {
  content: '\e75b';
}

.iconceshizhihui:before {
  content: '\e751';
}

.iconshangla:before {
  content: '\e745';
}

.iconxiala:before {
  content: '\e746';
}

.iconbaocun:before {
  content: '\e747';
}

.iconfabu:before {
  content: '\e748';
}

.iconceshi:before {
  content: '\e749';
}

.iconxinzeng:before {
  content: '\e74a';
}

.iconbianpai:before {
  content: '\e74b';
}

.iconshanchu:before {
  content: '\e74c';
}

.iconbianji:before {
  content: '\e74d';
}

.iconsousuo:before {
  content: '\e74e';
}

.iconxinzengjiacu:before {
  content: '\e74f';
}

.iconzhucexinjiekou:before {
  content: '\e750';
}
