@import '@common/styles/var.scss';

.ruleItem {
  display: flex;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 12px;
  cursor: pointer;

  .name {
    flex: 1;
    border-radius: 3px;
    border: 1px solid rgba(24, 31, 67, 0.12);

    &.active {
      border-color: #4c5cdb;
    }

    .text {
      width: 140px;
      margin-left: 20px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      line-height: 38px;
    }

    .ruleTips {
      display: inline-block;
      line-height: 38px;
      width: calc(100% - 160px);
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #ccc;
    }

    .label {
      flex: 1;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: rgba(24, 31, 67, 0.95);
      cursor: pointer;

      .labelStr {
        display: inline-block;
      }

      input {
        background: #fff;
      }
    }
  }

  .operation {
    flex: 0 0 40px;
    display: flex;
    align-items: center;

    .delete {
      flex: 0 0 40px;
      text-align: center;
    }
    .disable .iconfont {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}
.draggable {
  display: flex;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 12px;
  border-radius: 3px;
  background-color: rgba(24, 39, 67, 0.04);
  cursor: pointer;

  .name {
    flex: 1;
    display: flex;
    align-items: center;
    .text {
      flex: 0 0 80px;
      text-align: center;
    }
    
    .inputBorder {
      border: 1px solid var(--ant-error-color);
    }
    .errorMsg {
      font-size: 12px;
      color: var(--ant-error-color);
    }
    :global {
      .ant-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        background-color: transparent;
      }
    }

    .label {
      flex: 1;
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      padding-left: 12px;
      color: rgba(24, 31, 67, 0.95);
      cursor: pointer;

      .labelStr {
        display: inline-block;
      }

      &.labelDisable {
        display: inline-block;
        background: linear-gradient(-45deg, rgba(24, 39, 67, 0.04) 0, rgba(24, 39, 67, 0.04) 5%, transparent 5%, transparent 50%, rgba(24, 39, 67, 0.04) 50%, rgba(24, 39, 67, 0.04) 55%, transparent 55%, transparent);
        background-size: 10px 10px;
        cursor: not-allowed;
      }

      :global {
        .ant-select-selection-item {
          text-align: left;
          padding-left: 10px;
        }
        .ant-select-selector {
          padding: 0;
        }
      }
      
    }
    input {
      background-color: transparent;
    }
  }
  .operation {
    flex: 0 0 60px;
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(24, 31, 67, 0.1);
    .delete {
      flex: 0 0 34px;
      text-align: center;
    }
    .move {
      flex: 0 0 26px;
      text-align: left;
      cursor: move;

    }

    .disable .iconfont {
      opacity: 0.3;
      cursor: not-allowed;
    }
    .iconfont {
      font-size: 14px;
    }
  }
}

.modalIncrease {
  .formItem {
    width: 100%;
  }

  .resetTips {
    font-size: 12px;
    color: #ccc;
  }
}

.container {
  .title {
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 40px;
    background: rgba(24, 39, 67, 0.04);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(24, 31, 67, 0.95);

    > div {
      flex: 1;
      text-align: center;
      cursor: pointer;
      position: relative;

      &:not(.active) {
        &::after {
          content: '';
          width: 1px;
          height: 34px;
          position: absolute;
          top: 3px;
          right: 0;
          background-color: #e3e4e8;
        }
      }

      &:last-child {
        &::after {
          width: 0;
        }
      }

      &.active {
        background: #ffffff;
        border-radius: 3px 0 0 3px;
        border: 1px solid rgba(24, 31, 67, 0.12);
        font-weight: 500;
        color: #4c5cdb;
      }
    }
  }
}

.custom_list {
  padding-top: 10px;
}

.formWrapper {
  margin-bottom: 0;
}
.add_custom, {
  width: 55%;
  border: 1px dashed  rgba(24, 31, 67, 0.3);
  vertical-align: middle;
  margin-right: 12px;
}
.edit_btn, .add_change, .add_inject {
  width: 100%;
}

.edit_save_btn {
  display: inline-block;
  .change_btn {
    width: 45%;
  }
}
.save_custom, .edit_save_btn  {
  width: calc(45% - 15px);
}

.errorTips {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 12px;
  color: var(--ant-error-color);
}

.change_btn:nth-child(1) {
  margin-right: 10px;
}

.add_inject, .add_change {
  border: 1px dashed;
}

.add_change {
  margin-bottom: 10px;
}

.custom_list .ant-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #fff;
}

.content {

  margin-top: 20px;

  .flexbox {
    display: flex;
  }

  .flexItem {
    flex: 1;
    margin-right: 10px !important;
  }
}

:global {
  .ant-popover-buttons {
    display: flex;
    justify-content: space-around;
  }

  .ant-popover-message-title {
    padding-left: 0;
  }
}

