:root[theme='light'] {
  --ant-primary-color: #4c5cdb;
  --custom-menu-title-text: #000000D9;
  --custom-menu-line: #181F431F;
  --custom-menu-nav: #181F43BF;
  --custom-menu-nav-active: #000000D8;
  --custom-dropdown-empty-text: #181F4380;
  --custom-select-option-bg: #182F430A;
  --custom-dropdown-header-border: #f0f0f0;
  --custom-dropdown-bg: #fff;
  --custom-selected-time-bg: #4C5CDB1F;
  --custom-selected-time-text: #4c5cdb;
  --custom-range-hover-bg: orange;
  --custom-branch-background: #edeff1;

  --custom-primary-color: unset;
  --custom-primary-color-hover: unset;
  --custom-primary-color-active: unset;
  --custom-primary-color-outline: unset;

  /* 文字颜色 */
  --custom-title-text-color: #181F43FF;
  --custom-menu-title-text-color: #181F43FF;
  --custom-body-text-color: #181F43BF;
  --custom-caption-text-color: #181F4380;
  --custom-hint-text-color: #181F434D;
  --custom-svg-color: #181F434D;
  --custom-label-hint-text-color: #181F43D9;

  /* 边框颜色 */
  --custom-border-normal-color: #181F431F;
  --custom-border-hover-color: #181F434D;
  --custom-border-primary-color: #4c5cdb;

  /* input */
  --custom-input-background-normal-color: #1827430A;
  --custom-input-background-hover-color: #FFFFFFFF;
  --custom-input-text-placeholder-color: #181F434D;
  --custom-input-text-active-color: #181F43FF;
  --custom-input-border-hover-color: #4C5CDBCC;
  --custom-input-shadow-color: #4C5CDB1F;

  // modal
  --custom-modal-mask-bg: #181F438C;

  /* select */
  --custom-select-background-normal-color: #1827430A;
  --custom-select-background-hover-color: #FFFFFFFF;
  --custom-select-text-placeholder-color: #181F434D;
  --custom-select-text-active-color: #181F43FF;
  --custom-select-border-hover-color: #4C5CDBCC;
  --custom-select-shadow-color: #4C5CDB1F;
  /* select-dropdown */
  --custom-select-dropdown-body-background-color: #FFFFFFFF;
  --custom-select-dropdown-option-hover-color: #1827430A;
  --custom-select-dropdown-option-active-color: #4C5CDB14;
  --custom-select-dropdown-text-normal-color: #181F43FF;
  --custom-select-dropdown-text-hover-color: #4C5CDBFF;

  /* datepicker */
  --custom-datepicker-background-normal-color: #1827430A;
  --custom-datepicker-background-hover-color: #FFFFFFFF;
  --custom-datepicker-text-placeholder-color: #181F434D;
  --custom-datepicker-text-active-color: #181F43FF;
  --custom-datepicker-border-hover-color: #4C5CDBCC;
  --custom-datepicker-shadow-color: #4C5CDB1F;
  /* datepicker-dropdown */
  --custom-datepicker-dropdown-body-background-color: #FFFFFFFF;
  --custom-datepicker-dropdown-option-hover-color: #1827430A;
  --custom-datepicker-dropdown-option-active-color: #4C5CDB14;
  --custom-datepicker-dropdown-text-normal-color: #181F43FF;
  --custom-datepicker-dropdown-text-hover-color: #4C5CDBFF;
  --custom-datepicker-dropdown-border-normal-color: #181F4314;


  /* table */
  --custom-table-body-background-hover-color: #4c5cdb0f;
  --custom-table-head-text-color: #000000d8;

  /* 大背景 */
  --custom-header-background: #FFFFFFFF;
  --custom-body-background: #FFFFFFFF;
  --custom-flow-manage-content-bg: #F6F7F8FF;
  --custom-flow-manage-drawer-bg: #ffffffff;
  --custom-body-shadow: unset;

  /* 组件背景 */
  --custom-component-background: linear-gradient(
                  45deg,
                  #f6f9ff 0%,
                  #ebefed 100%
  );
  --custom-component-shadow: unset;

  /* 导航栏背景 */
  /* --custom-nav-bar-background:; */
  /* --custom-nav-bar-shadow:; */

  /* 侧边菜单 */
  --custom-side-menu-bg: #f6f7f8;
  --custom-side-menu-popup-bg: unset;
  --custom-side-menu-item-color: unset;
  --custom-side-menu-inline-submenu-bg: unset;
  --custom-side-menu-highlight-color: unset;
  --custom-side-menu-highlight-danger-color: unset;
  --custom-side-menu-item-active-bg: linear-gradient(
                  90deg,
                  #e2fef8 0%,
                  #f8f8f8 87%
  );
  --custom-side-menu-item-active-danger-bg: unset;
  --custom-side-menu-item-group-title-color: unset;

  --custom-side-menu-shadow: unset;
  --custom-sise-menu-item-shadow: unset;

  /* 导航菜单 */
  --custom-nav-menu-bg: #fff;
  --custom-nav-menu-popup-bg: unset;
  --custom-nav-menu-item-color: unset;
  --custom-nav-menu-inline-submenu-bg: unset;
  --custom-nav-menu-highlight-color: unset;
  --custom-nav-menu-highlight-danger-color: unset;
  --custom-nav-menu-item-active-bg: linear-gradient(
                  90deg,
                  #e3ffe7 0%,
                  #d9e7ff 100%
  );
  --custom-nav-menu-item-active-danger-bg: unset;
  --custom-nav-menu-item-group-title-color: unset;

  --custom-nav-menu-shadow: unset;
  --custom-nav-menu-item-shadow: unset;

  /* 间隔空间背景 */
  --custom-divider-space-background: unset;
  --custom-divider-space-shadow: unset;

  /* 空状态背景图片 */
  --custom-empty-image: unset;
  --custom-emtpy-shadow: unset;

  /* 结果反馈页背景 */
  --custom-result-feedback-background: unset;
  --custom-result-feedback-shadow: unset;

  /* 结果反馈页图片 */
  --custom-result-feedback-icon: unset;
  --custom-result-feedback-icon-shadow: unset;

  /* 按钮 */
  --custom-btn-shadow: unset;
  --custom-btn-primary-shadow: unset;
  --custom-btn-text-shadow: unset;

  --custom-btn-primary-bg: #4C5CDBFF;
  --custom-btn-primary-hover-bg: #4C5CDBCC;
  --custom-btn-primary-text-color: #FFFFFFFF;
  --custom-btn-primary-ghost-text-color: #4c5cdbff;
  --custom-btn-primary-ghost-border-color: #4C5CDBCC;
  --custom-btn-primary-ghost-text-hover-color: #4C5CDBCC;
  --custom-btn-primary-ghost-border-hover-color: #4C5CDB80;
  --custom-btn-primary-disabled-bg: #4C5CDB80;
  --custom-btn-primary-text-disabled-color: #ffffffff;
  --custom-btn-primary-ghost-disabled-border-color: #4C5CDB80;
  --custom-btn-primary-ghost-disabled-text-color: #4C5CDB80;

  --custom-btn-default-text-hover-color: #4C5CDBFF;
  --custom-btn-default-bg: #fff;
  --custom-btn-disabled-default-bg: #1827430A;
  --custom-btn-default-disabled-text-color: #181F434D;
  --custom-btn-default-border-color: #181F431F;
  --custom-btn-default-border-hover-color: #4C5CDBCC;

  --custom-btn-danger-color: unset;
  --custom-btn-danger-bg: unset;

  --custom-btn-disable-color: #FFFFFF7F;
  --custom-btn-disable-bg: #4C5CDB80;

  --custom-btn-default-ghost-color: unset;
  --custom-btn-default-ghost-border-color: #181F431F;
  --custom-btn-default-ghost-border-hover-color: #181F434D;
  --custom-btn-default-ghost-shadow-active-color: #1827430A;

  /* 面包屑 */
  --custom-breadcrumb-base-color: unset;
  --custom-breadcrumb-last-item-color: unset;
  --custom-breadcrumb-link-color: unset;
  --custom-breadcrumb-link-color-hover: unset;
  --custom-breadcrumb-separator-color: unset;

  /* 抽屉面板 */
  --custom-drawer-bg: unset;
  --custom-drawer-shadow: unset;

  /* 卡片 */
  --custom-card-background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  --custom-card-hover-background: linear-gradient(
                  270deg,
                  #ffdee9 0%,
                  #b5fffc 100%
  );
  /* 表格 */
  --custom-table-bg: #e1ebee;
  --custom-table-header-bg: #b0c4de;
  --custom-table-header-color: unset;
  --custom-table-header-sort-bg: unset;
  --custom-table-body-sort-bg: unset;
  --custom-table-body-bg: unset;
  --custom-table-row-hover-bg: unset;
  --custom-table-selected-row-color: unset;
  --custom-table-selected-row-bg: unset;
  --custom-table-body-selected-sort-bg: unset;
  --custom-table-selected-row-hover-bg: unset;
  --custom-table-expanded-row-bg: unset;
  --custom-table-border-color: unset;
  --custom-table-footer-bg: unset;
  --custom-table-footer-color: unset;
  --custom-table-header-cell-split-color: unset;

  // checkbox
  --custom-checkbox-checked-bg: #4C5CDBFF;
  --custom-checkbox-indeterminate-bg: #ffffffff;
  --custom-checkbox-indeterminate-border-color: #181F431F;

  // popover
  --popover-dropdown-bg: #ffffffff;
  --custom-popover-dropdown-option-hover-color: #1827430a;
  --custom-popover-dropdown-text-normal-color: #181f43ff;

  // form
  --custom-form-item-label-text-color: #181F43FF;
  --custom-form-field-name-text-color: #181F43BF;
  --custom-form-field-name-border-color: #181F4314;
  --custom-form-title-color: #000000D9;
  --custom-form-symbol-color: #181F437F;

  // tag
  --custom-tag-warning-border-color: #FF99004D;
  --custom-tag-warning-text-color: #FF9900FF;
  --custom-tag-success-border-color: #06C4984D;
  --custom-tag-success-text-color: #06C498FF;
  --custom-tag-error-border-color: #FF55684D;
  --custom-tag-error-text-color: #FF5568FF;
  --custom-tag-primary-border-color: #4C5CDB4D;
  --custom-tag-primary-text-color: #4C5CDBFF;
  --custom-tag-revoke-border-color: #181F431F;
  --custom-tag-revoke-text-color: #181F4380;
}
