
:root {
  
  --custom-primary-color:;
  --custom-primary-color-hover:;
  --custom-primary-color-active:;
  --custom-primary-color-outline:;


  /* 大背景 */
  --custom-body-background:;
  --custom-body-shadow:;

  /* 导航栏背景 */
  /* --custom-nav-bar-background:; */
  /* --custom-nav-bar-shadow:; */

  /* 侧边菜单 */
  --custom-side-menu-bg:;
  --custom-side-menu-popup-bg:;
  --custom-side-menu-item-color:;
  --custom-side-menu-inline-submenu-bg:;
  --custom-side-menu-highlight-color:;
  --custom-side-menu-highlight-danger-color:;
  --custom-side-menu-item-active-bg:;
  --custom-side-menu-item-active-danger-bg:;
  --custom-side-menu-item-group-title-color:;

  --custom-side-menu-shadow:;
  --custom-sise-menu-item-shadow:;

  /* 导航菜单 */
  --custom-nav-menu-bg:;
  --custom-nav-menu-popup-bg:;
  --custom-nav-menu-item-color:;
  --custom-nav-menu-inline-submenu-bg:;
  --custom-nav-menu-highlight-color:;
  --custom-nav-menu-highlight-danger-color:;
  --custom-nav-menu-item-active-bg:;
  --custom-nav-menu-item-active-danger-bg:;
  --custom-nav-menu-item-group-title-color:;

  --custom-nav-menu-shadow:;
  --custom-nav-menu-item-shadow:;

  /* 间隔空间背景 */
  --custom-divider-space-background:;
  --custom-divider-space-shadow:;

  /* 空状态背景图片 */
  --custom-empty-image:;
  --custom-emtpy-shadow:;

  /* 结果反馈页背景 */
  --custom-result-feedback-background:;
  --custom-result-feedback-shadow:;

  /* 结果反馈页图片 */
  --custom-result-feedback-icon:;
  --custom-result-feedback-icon-shadow:;

  /* 按钮 */
  --custom-btn-shadow:;
  --custom-btn-primary-shadow:;
  --custom-btn-text-shadow:;

  --custom-btn-primary-color:;
  --custom-btn-primary-bg:;

  --custom-btn-default-color:;
  --custom-btn-default-bg:;

  --custom-btn-danger-color:;
  --custom-btn-danger-bg:;

  --custom-btn-disable-color:;
  --custom-btn-disable-bg:;

  --custom-btn-default-ghost-color:;
  --custom-btn-default-ghost-bg:;

  
   /* 面包屑 */
   --custom-breadcrumb-base-color:;
   --custom-breadcrumb-last-item-color:;
   --custom-breadcrumb-link-color:;
   --custom-breadcrumb-link-color-hover:;
   --custom-breadcrumb-separator-color:;

  /* 抽屉面板 */
  --custom-drawer-bg:;
  --custom-drawer-shadow:;

  /* 卡片 */
  --custom-card-background:;
  --custom-card-hover-background:;

  --custom-card-shadow:;
  --custom-card-hover-shadow:;
}

:root[theme='light'] {
  --ant-primary-color: #13c2c2;
  
  --custom-primary-color:;
  --custom-primary-color-hover:;
  --custom-primary-color-active:;
  --custom-primary-color-outline:;


  /* 大背景 */
  --custom-body-background: #F0F8FF;
  --custom-body-shadow:;

  /* 组件背景 */
  --custom-component-background: linear-gradient(45deg, #f6f9ff 0%, #ebefed 100%);
  --custom-component-shadow:;


  /* 导航栏背景 */
  /* --custom-nav-bar-background:; */
  /* --custom-nav-bar-shadow:; */

  /* 侧边菜单 */
  --custom-side-menu-bg: #E6E6FA;
  --custom-side-menu-popup-bg:;
  --custom-side-menu-item-color:;
  --custom-side-menu-inline-submenu-bg:;
  --custom-side-menu-highlight-color:;
  --custom-side-menu-highlight-danger-color:;
  --custom-side-menu-item-active-bg: linear-gradient(90deg, #e2fef8 0%, #f8f8f8 87%);
  --custom-side-menu-item-active-danger-bg:;
  --custom-side-menu-item-group-title-color:;

  --custom-side-menu-shadow:;
  --custom-sise-menu-item-shadow:;

  /* 导航菜单 */
  --custom-nav-menu-bg: linear-gradient(270deg, #9FACE6 0%, #74EBD5 100%);
  ;
  --custom-nav-menu-popup-bg:;
  --custom-nav-menu-item-color:;
  --custom-nav-menu-inline-submenu-bg:;
  --custom-nav-menu-highlight-color:;
  --custom-nav-menu-highlight-danger-color:;
  --custom-nav-menu-item-active-bg: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
  --custom-nav-menu-item-active-danger-bg:;
  --custom-nav-menu-item-group-title-color:;

  --custom-nav-menu-shadow:;
  --custom-nav-menu-item-shadow:;

  /* 间隔空间背景 */
  --custom-divider-space-background:;
  --custom-divider-space-shadow:;

  /* 空状态背景图片 */
  --custom-empty-image:;
  --custom-emtpy-shadow:;

  /* 结果反馈页背景 */
  --custom-result-feedback-background:;
  --custom-result-feedback-shadow:;

  /* 结果反馈页图片 */
  --custom-result-feedback-icon:;
  --custom-result-feedback-icon-shadow:;

  /* 按钮 */
  --custom-btn-shadow:;
  --custom-btn-primary-shadow:;
  --custom-btn-text-shadow:;

  --custom-btn-primary-color:;
  --custom-btn-primary-bg:;

  --custom-btn-default-color:;
  --custom-btn-default-bg:;

  --custom-btn-danger-color:;
  --custom-btn-danger-bg:;

  --custom-btn-disable-color:;
  --custom-btn-disable-bg:;

  --custom-btn-default-ghost-color:;
  --custom-btn-default-ghost-bg:;

  
   /* 面包屑 */
   --custom-breadcrumb-base-color:;
   --custom-breadcrumb-last-item-color:;
   --custom-breadcrumb-link-color:;
   --custom-breadcrumb-link-color-hover:;
   --custom-breadcrumb-separator-color:;

  /* 抽屉面板 */
  --custom-drawer-bg:;
  --custom-drawer-shadow:;

  /* 卡片 */
  --custom-card-background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
  --custom-card-hover-background: linear-gradient(270deg, #FFDEE9 0%, #B5FFFC 100%);
  ;

  /* 表格 */
   --custom-table-bg: #E1EBEE;
   --custom-table-header-bg: #B0C4DE;
   --custom-table-header-color:;
   --custom-table-header-sort-bg:;
   --custom-table-body-sort-bg:;
   --custom-table-body-bg:;
   --custom-table-row-hover-bg:;
   --custom-table-selected-row-color:;
   --custom-table-selected-row-bg:;
   --custom-table-body-selected-sort-bg:;
   --custom-table-selected-row-hover-bg:;
   --custom-table-expanded-row-bg:;
   --custom-table-border-color:;
   --custom-table-footer-bg:;
   --custom-table-footer-color:;
   --custom-table-header-cell-split-color:;
}

:root[theme='dark'] {
  --ant-primary-color: black;

  --custom-primary-color:;
  --custom-primary-color-hover:;
  --custom-primary-color-active:;
  --custom-primary-color-outline:;
}

:root[theme='blue'] {
  --ant-primary-color: blue;

  --custom-primary-color:;
  --custom-primary-color-hover:;
  --custom-primary-color-active:;
  --custom-primary-color-outline:;
}

:root[theme='green'] {
  --ant-primary-color: green;

  --custom-primary-color:;
  --custom-primary-color-hover:;
  --custom-primary-color-active:;
  --custom-primary-color-outline:;
}

:root[theme='yellow'] {
  --ant-primary-color: yellow;

  --custom-primary-color:;
  --custom-primary-color-hover:;
  --custom-primary-color-active:;
  --custom-primary-color-outline:;
}