.container {
  .header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    :global {
      #copy_form {
        display: block;
        width: 100%;
        .copy_form_row {
          display: flex;
          .ant-form-item {
            flex: 1;
            margin-right: 40px;
            margin-bottom: 20px;
            &.timeRange {
              flex: 2;
              margin-right: 0;
            }
            &.empty {
              flex: 2;
              margin-right: 40px;
            }
            &.operation {
              margin-right: 0;
              .btn_list {
                display: flex;
                justify-content: flex-end;
                width: 200px;
                float: right;
                .search {
                  flex: 0 0 60px;
                  border-radius: 3px;
                  border: 1px solid rgba(76, 92, 219, 0.85);
                  font-size: 14px;
                  font-weight: 400;
                  color: #4c5cdb;
                  margin-right: 12px;
                  &:hover {
                    border: 1px solid rgba(76, 92, 219, 0.5);
                    color: rgba(76, 92, 219, 0.8);
                  }
                }
                .reset {
                  flex: 0 0 60px;
                  border-radius: 3px;
                  border: 1px solid rgba(24, 31, 67, 0.12);
                  font-size: 14px;
                  font-weight: 400;
                  color: rgba(24, 31, 67, 0.95);
                  //   margin-right: 12px;
                  &:hover {
                    border: 1px solid rgba(24, 31, 67, 0.3);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .content {
    margin-top: 24px;
    .name {
      cursor: pointer;
      &:hover {
        color: #4c5cdb;
      }
    }
    .status {
      width: 52px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 3px;
      font-size: 12px;
      &.doing {
        background: rgba(76, 92, 219, 0.12);
        color: #3546c8;
      }
      &.stop {
        background: rgba(255, 85, 104, 0.12);
        color: #eb2e43;
      }
      &.reject {
        background: rgba(255, 153, 0, 0.12);
        color: #f67a00;
      }
      &.done {
        background: rgba(6, 196, 152, 0.12);
        color: #03a882;
      }
      &.recall {
        background: #ededf0;
        color: #181f43;
      }
    }
  }
}
