.container {
  .header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    :global {
      #copy_form {
        flex: 1;
        .name {
          width: 33%;
        }
        .state {
          width: 33%;
        }
        .copyer {
          width: 33%;
        }
        .timeRange {
          width: 33%;
        }
      }
    }
    .operation {
      flex: 0 0 200px;
      display: flex;
      .search {
        flex: 0 0 60px;
        border-radius: 3px;
        border: 1px solid rgba(76, 92, 219, 0.85);
        font-size: 14px;
        font-weight: 400;
        color: #4c5cdb;
        margin-right: 12px;
        &:hover {
          border: 1px solid rgba(76, 92, 219, 0.5);
          color: rgba(76, 92, 219, 0.8);
        }
      }
      .reset {
        flex: 0 0 60px;
        border-radius: 3px;
        border: 1px solid rgba(24, 31, 67, 0.12);
        font-size: 14px;
        font-weight: 400;
        color: rgba(24, 31, 67, 0.95);
        //   margin-right: 12px;
        &:hover {
          border: 1px solid rgba(24, 31, 67, 0.3);
        }
      }
    }
  }
}
