@import '@styles/mixin.scss';

.card {
  .info {
    @include center('flex');

    line-height: 20px;
    color: rgba(24, 31, 67, 0.55);
    font-size: 12px;
    font-weight: 400;

    .type {
      margin-right: 4px;
    }

    .version {
      margin-right: 8px;
    }

    .separator {
      margin-right: 8px;
    }
  }
}
