.member {
  position: relative;
  display: inline-flex;
  align-items: center;

  &:hover {
    .delete {
      transform: scale(1);
    }
  }

  .avatar {
    margin-right: 4px;
  }

  .name {
    color: rgba(#181f43, 0.95);
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
  }

  .delete {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(#181f43, 0.75);
    cursor: pointer;
    transition: transform ease-in-out 0.3s;
    transform: scale(0);
    overflow: hidden;
  }
}
