@import '@common/styles/var.scss';

.container {
  width: 72px;
  height: 72px;
  border-radius: 3px;
  border: 1px solid $button-default-border-color;
  text-align: center;
  cursor: pointer;

  &:hover {
    border: 1px solid rgba(24, 31, 67, 0.5);
  }

  .icon_container {
    margin-top: 14px;
    text-align: center;

    .iconfont {
      display: inline-block;
      width: 20px;
      height: 20px;
      font-size: 17px;
      color: #4f5571;
    }
  }

  .component_name {
    font-size: 12px;
    font-weight: 400;
    color: $flow-form-field-name-text-color;
    line-height: 20px;
    margin-top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.disabled {
    cursor: not-allowed;

    &:hover {
      border: 1px solid $button-default-border-color;
    }
  }
}
