@import '@common/styles/var.scss';

.main {
  display: flex;

  .content {
    flex: 1 1 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .flow {
    flex-shrink: 0;
    width: 310px;
    padding: 24px 24px 32px;
    background-color: $start-flow-log-bg;
    border-left: 1px solid $flow-line-border-color;
    overflow-y: auto;

    .record-title {
      margin-bottom: 28px;
      line-height: 28px;
      color: $label-hint-text-color;
      font-size: 18px;
      font-weight: bold;
    }

    .detail {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 8px;
        top: 2px;
        bottom: 0;
        z-index: -1;
        width: 1px;
        background-color: rgba(#181f43, 0.12);
        transform: translateX(-50%);
      }

      .last-record {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 6px;
          top: 17px;
          bottom: 0;
          width: 5px;
        }
      }
    }
  }

  .form {
    width: 76%;
    margin: 0 auto;
    padding-top: 30px;

    .title {
      margin-bottom: 24px;
      line-height: 34px;
      color: $label-hint-text-color;
      font-size: 24px;
      font-weight: bold;
    }
  }
}
