@import '@common/styles/var.scss';

.btns {
  .button {
    width: 88px;
    border: none;
    position: relative;
    //background-color: rgba(#182743, 0.04);

    &.active {
      color: $button-primary-ghost-text-color;
      border-color: $button-primary-ghost-border-color;
      border-width: 1px;
      border-style: solid;
      z-index: 10;
    }

    &:hover {
      color: $button-default-disabled-text-color;
      background-color: $button-default-disabled-background-color;
    }
  }

  .manual {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .timing {
    border: none;
    border-radius: 0;
  }

  .signal {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.form {
  :global {
    .ant-picker-range {
      display: flex;
    }
  }
}

.frequency {
  display: flex;

  :global {
    .ant-select {
      margin-left: 15px;
      width: 100px;
    }
  }
}
