.home_layout {
  overflow-y: auto;
  height: 100%;
  min-height: 900px !important;
  .home_content {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }
  .home_sider {
    flex: 0 0 360px !important;
    width: 360px !important;
    max-width: 360px !important;
    min-width: 360px !important;
    background-color: #fff;
    box-shadow: 0 2px 20px 0 rgba(24, 39, 67, 0.04);
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
    }
  }
  .footer {
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    color: rgba(24, 31, 67, 0.5);
  }
}
//@media screen and (max-height: 768px) {
//  .home_layout {
//    max-height: 900px !important;
//  }
//}

//@media screen and (max-height: 768px) {
//  .home_layout {
//    //background-color: red;
//    //max-height: 1024px !important;
//  }
//}
