.home_layout {
  height: 100%;

  .home_content {

  }
  .home_sider {
    flex: 0 0 360px !important;
    width: 360px !important;
    max-width: 360px !important;
    min-width: 360px !important;
    background-color: #fff;
    box-shadow: 0 2px 20px 0 rgba(24, 39, 67, 0.04);
    display: flex;
    flex-direction: column;
  }
}
