@import '@styles/mixin.scss';

.header {
  display: inline-block;
  padding: 0;
  border-bottom: 1px solid rgba(24, 31, 67, 0.12);
  background-color: #fff;

  .content {
    display: flex;
    align-items: center;
    height: 64px;
  }

  .logo {
    margin-right: 24px;
    font-size: 0;

    img {
      height: 42px;
    }
  }

  .navs {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    color: #181f43;

    .nav {
      color: inherit;
      padding: 22px 16px;
      line-height: 20px;
    }

    .active {
      background-color: #f0f0f6;
      font-weight: 500;
    }
  }

  .user {
    @include center('flex');

    flex-shrink: 0;

    .avatar {
      margin-right: 8px;
    }

    .name {
      line-height: 22px;
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 1366px) {
  .header {
    display: block;
  }
}
