@import '@common/styles/global.scss';
@import "theme";
@import "var";

#easy-flow-root {
  height: 100%;
  min-height: inherit;
}

.ant-progress-success-bg, .ant-progress-bg, .ant-progress-status-success .ant-progress-bg {
  background-color: var(--custom-progress-status-bg, #24B493FF);
}

.bf-container .DraftEditor-editorContainer {

  .bf-hr {

    &:hover::before {
      background-color: $border-primary-color;
    }

    &::before {
      background-color: $form-field-name-border-color;
    }
  }
}
