@import "theme";

$source-box-hover-operation-bg: var(--custom-source-box-hover-operation-bg, #8B8FA1FF);
$source-box-hover-operation-svg-color: var(--custom-source-box-hover-operation-svg-color, #fff);

/* 发起流程 */
$start-flow-border-top-color: var(--custom-start-flow-border-top-color, #06C498FF);
$start-flow-log-bg: var(--custom-start-flow-log-bg, #ffffffff);
$start-flow-status-processing-bg: var(--custom-start-flow-status-processing-bg, #ffffffff);
$start-flow-status-revert-bg: var(--custom-start-flow-status-revert-bg, #ffffffff);
$start-flow-status-undo-bg: var(--custom-start-flow-status-undo-bg, #ffffffff);
$start-flow-status-terminated-bg: var(--custom-start-flow-status-terminated-bg, #ffffffff);
$start-flow-status-finish-bg: var(--custom-start-flow-status-finish-bg, #06C49814);
$start-flow-header-shadow-color: var(--custom-start-flow-shadow-color, #181F4314);
$start-flow-banner-linear-bg: var(--custom-start-flow-banner-linear-bg, linear-gradient(319deg, #5A69E0 0%, #7389F8 100%));


//  流程详情
$flow-detail-status-doing-bg: var(--custom-flow-detail-status-doing-bg, #4C5CDB1F);
$flow-detail-status-doing-text-color: var(--custom-flow-detail-status-doing-text-color, #3546C8FF);
$flow-detail-status-stop-bg: var(--custom-flow-detail-status-stop-bg, #FF55681F);
$flow-detail-status-stop-text-color: var(--custom-flow-detail-status-stop-text-color, #EB2E43FF);
$flow-detail-status-reject-bg: var(--custom-flow-detail-status-reject-bg, #FF99001F);
$flow-detail-status-reject-text-color: var(--custom-flow-detail-status-reject-text-color, #F67A00FF);
$flow-detail-status-done-bg: var(--custom-flow-detail-status-done-bg, #06C4981F);
$flow-detail-status-done-text-color: var(--custom-flow-detail-status-done-text-color, #03A882FF);
$flow-detail-status-recall-bg: var(--custom-flow-detail-status-recall-bg, #EDEDF0FF);
$flow-detail-status-recall-text-color: var(--custom-flow-detail-status-recall-text-color, #181F4380);
