.container {
  width: 288px;
  padding: 25px 21px;
  height: calc(100vh - 64px);
  overflow-y: auto;
  background: rgba(24, 39, 67, 0.04);
  .component_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
  }
  .group {
    width: 100%;
    .groupTitle {
      height: 22px;
      line-height: 22px;
      font-size: 14px;
      font-weight: 600;
      color: rgba(24, 31, 67, 0.95);
    }
    .componentContainer {
      display: flex;
      align-content: space-around;
      flex-wrap: wrap;
      padding-top: 12px;
      > div {
        margin-right: 12px;
        margin-bottom: 12px;
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }
}
