@import "@common/styles/var.scss";
.container {
    border-radius: 3px;
    position: relative;
    z-index: 8;
    overflow: hidden;
    .base-node {
        width: 248px;
    }
    .content {
        padding: 12px;
        line-height: 20px;
        color: $form-item-label-text-color;
        background-color: $flow-manage-drawer-bg;
        font-size: 12px;
        font-weight: 400;
    }
}
