.container {
  .controlBar {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border: 1px solid #f1f1f1;
    :global {
      .control-item.button {
        min-width: 30px;
        padding: 0 4px;
      }
      .dropdown-handler {
        .bfi-drop-down {
          width: 16px;
        }
      }
      .headings-dropdown {
        min-width: 60px;
      }
      .bf-font-size-dropdown {
        position: relative;
        min-width: 70px;
        .dropdown-content {
          margin-left: 0 !important;
          left: -120px;
          transform: none;
        }
      }
      .text-color-dropdown {
        position: relative;
        .dropdown-content {
          width: 210px;
          left: -85px;
          transform: none;
          margin-left: 0 !important;
          .bf-colors {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 210px;
            box-sizing: border-box;
          }
        }
      }
      .link-editor-dropdown {
        position: relative;
        .dropdown-content {
          width: 210px;
          left: -88px;
          transform: none;
          margin-left: 0 !important;
          .bf-link-editor {
            width: 210px;
            .buttons {
              .pull-right {
                padding: 0 10px;
              }
            }
          }
        }
      }
    }
  }
  .content {
    height: auto;
    line-height: 32px;
    min-height: 64px;
    max-height: 640px;
    overflow-y: auto;
    border: 1px solid #f1f1f1;
    margin-top: 12px;
    :global {
      .bf-media {
        .bf-media-toolbar {
          position: absolute;
          left: -10%;
          margin-left: 0 !important;
          transform: scale(0.88);
        }
      }
    }
  }
}
