@import '@common/styles/var.scss';
@import '@common/styles/mixin.scss';

.avatar {
  object-fit: cover;
}

.member {
  position: relative;
  display: inline-flex;
  align-items: center;

  &:hover {
    .delete {
      transform: scale(1);
    }
  }

  .avatar {
    margin-right: 4px;
  }

  .name {
    color: rgab(#181f43, 0.95);
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
  }

  .delete {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(#181f43, 0.75);
    cursor: pointer;
    transition: transform ease-in-out 0.3s;
    transform: scale(0);
    overflow: hidden;
  }
}

.members {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -14px;

  .member {
    margin-top: 14px;
    margin-right: 16px;
  }

  .action {
    @include center('flex');

    position: relative;
    cursor: pointer;

    .add {
      width: 20px;
      height: 20px;
      padding: 4px;
      margin-top: 14px;
      border-radius: 50%;
      color: #fff;
      background-color: $primary-color;
      font-size: 12px;
    }
  }
}

// 人员选择内容样式
.content {
  position: relative;
  width: 232px;

  & > .loading {
    top: unset;
    bottom: 0;
    transform: translateX(-50%);
  }

  .search {
    margin-bottom: 12px;
  }

  .list {
    max-height: 200px;
    color: rgba(#181f43, 0.95);
    font-size: 14px;
    font-weight: 400;
    overflow-y: auto;

    .total {
      margin-bottom: 12px;
    }

    .item {
      @include center('flex');

      padding: 8px;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        background: rgba(#182743, 0.04);
      }

      .avatar {
        margin-right: 8px;
      }

      & > .name {
        @include ellipsis;

        flex: 1 1 0;
        margin-right: 8px;
        line-height: 22px;
      }
    }
  }
}

.container {
  :global {
    .ant-popover {
      padding-top: 2px;
    }

    .ant-input {
      border-color: transparent !important;
      background-color: rgba(24, 39, 67, 0.04) !important;
      box-shadow: unset !important;

      &:hover {
        border-color: rgba($primary-color, 0.85) !important;
        background-color: transparent !important;
      }

      &:focus {
        border-color: rgba($primary-color, 0.85) !important;
        box-shadow: 0 0 0 3px rgba(76, 92, 219, 0.2) !important;
        background-color: transparent !important;
      }
    }

    .ant-tabs {
      overflow: visible;

      .ant-tabs-tab {
        height: 37px;
        padding-top: 0;

        .ant-tabs-tab-btn {
          height: 25px;
          line-height: 25px;
        }
      }
    }

    .ant-tabs-tab {
      line-height: 20px;
      color: rgba(#181f43, 0.75);
      font-size: 14px;
      font-weight: 400;

      &:hover {
        color: rgba($primary-color, 0.75);
      }
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      line-height: 25px;
      color: rgba(#181f43, 0.95);
      font-size: 18px;
      font-weight: 500;
    }

    .ant-tabs-ink-bar {
      height: 5px !important;
      background-color: $primary-color;
    }
  }
}
