@import '@styles/var.scss';
@import '@styles/mixin.scss';

.container {
  position: relative;

  & > .content {
    height: inherit;
    min-height: inherit;

    :global {
      div[id^='__qiankun_microapp_wrapper_for'] {
        height: inherit;
        min-height: inherit;
      }
    }
  }

  .loading {
    @include center('absolute');
  }
}
