@import '@styles/var.scss';
@import '@styles/mixin.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 65px);
  overflow: hidden;

  :global {
    .ant-popover-arrow {
      display: none;
    }
  }
}

.header {
  @include center('flex');

  flex-shrink: 0;
  margin-bottom: 12px;

  .projects {
    @include center('flex');

    position: relative;
    flex: 1 1 0;
    padding: 12px 0;
    overflow-x: auto;
    // overflow-y: visible;

    &::-webkit-scrollbar {
      height: 0px; /*对水平流动条有效*/
    }

    &::after {
      content: '';
      width: 92px;
      height: 24px;
      flex-shrink: 0;
    }
  }

  .actions-group {
    @include center('flex');

    position: relative;
    height: 48px;
    flex-shrink: 0;
  }

  .mask {
    position: absolute;
    right: 100%;
    top: 0;
    width: 64px;
    height: 48px;
    background-image: linear-gradient(to right, transparent, #fff);
  }

  .action {
    @include center('flex');

    line-height: 22px;
    color: #181f43;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;

    .icon {
      margin-right: 4px;
      font-size: 20px;
      font-weight: normal;
    }
  }

  .line {
    width: 1px;
    height: 20px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: rgba(24, 31, 67, 0.12);
  }
}

.content {
  flex: 1 1 0;
  padding-bottom: 24px;
  overflow-y: auto;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 132px;

  .desc {
    margin-bottom: 42px;
    color: $sub-text-color;
  }

  img {
    width: 144px;
    margin-bottom: 8px;
  }
}

.scenes {
  position: relative;
  display: grid;
  grid-row-gap: 24px;
  grid-column-gap: 24px;

  &.no-scene {
    grid-template-columns: 1fr;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 128px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid rgba(24, 31, 67, 0.12);
    line-height: 22px;
    color: #181f43;
    font-size: 14px;
    font-weight: 400;

    .btn {
      margin-right: 12px;
    }
  }
}

@media screen and (min-width: 1640px) and (max-width: 1919px) {
  .scenes {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1639px) {
  .scenes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1920px) {
  .scenes {
    grid-template-columns: repeat(5, 1fr);
  }
}
