@import "./var.scss";
/* button style begin */
.ant-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  background-color: $button-default-background-color;
  color: $title-text-color;
  border-color: $button-default-border-color;

  svg {
    margin-right: 4px;
    margin-top: -2px;
  }

  &:hover,
  &.active,
  &:focus {
    color: $button-default-text-hover-color;
    border-color: $button-default-border-hover-color;
    background-color: $button-default-background-color;

    svg {
      color: $button-default-text-hover-color;
    }
  }

  // ghost button
  &.ant-btn-background-ghost {
    background-color: transparent;
    border-color: $border-normal-color;
    color: $title-text-color;

    &:hover,
    &:focus {
      border-color: $border-hover-color;
      color: $title-text-color;
    }

    &:active {
      box-shadow: 0 0 0 4px $input-background-normal-color;
    }
  }

  &[disabled] {
    background-color: $button-default-disabled-background-color;
    color: $button-default-disabled-text-color;
  }
}

// primary button
.ant-btn-primary {

  color: $button-primary-text-color;
  background-color: $button-primary-background-color;
  border-color: $button-primary-background-color;

  &:hover,
  &:focus,
  &:active {
    color: $title-text-color;
    background-color: $button-primary-background-hover-color;
    border-color: $button-primary-background-hover-color;
  }

  &.ant-btn-background-ghost {
    color: $button-primary-ghost-text-color;
    border-radius: 3px;
    border-color: $button-primary-ghost-border-color;

    &:focus {
      border-color: $button-primary-ghost-border-hover-color;
      color: $button-primary-ghost-text-hover-color;
    }

    &:hover {
      border-color: $button-primary-ghost-border-hover-color;
      color: $button-primary-ghost-text-hover-color;
    }

    &.disabled {
      border-color: rgba(#a6ace2, 0.5);
      color: rgba($primary-color-custom, 0.5);
    }
  }

  &.disabled {
    background-color: $button-primary-disabled-background-color;
    color: $button-primary-text-disabled-color;
  }

  &[disabled] {
    background-color: #a6ace2;

    &:hover {
      background-color: #a6ace2;
    }
  }

  svg {
    color: inherit;
  }
}

// circle button
.ant-btn-circle {
  svg {
    margin-right: 0;
  }
}

// icon button
.ant-btn-icon-only {
  .anticon {
    font-size: 0;
  }

  svg {
    margin: 0;
    font-size: 16px;
  }
}

/* button style end */

.ant-switch {
  height: 24px;
  line-height: 24px;
  background-color: #c1d1cd;
}

.ant-switch-handle {
  width: 20px;
  height: 20px;
}

.ant-switch-checked {
  background-color: $primary-color;

  &:focus {
    box-shadow: none;
  }

  .ant-switch-handle {
    left: calc(100% - 20px - 2px);
  }
}

// 定制弹框
.ant-modal {
  padding: 0;
  color: $label-hint-text-color;

  .ant-modal-content {
    overflow: hidden;
    background-color: $content-background-color;

    .ant-modal-header {
      padding: 32px 32px 12px;
      background-color: $content-background-color;
      color: $label-hint-text-color;
      border-bottom: 1px solid $flow-form-field-name-border-color;

      .ant-modal-title {
        line-height: 24px;
        color: $flow-form-field-name-text-color;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .ant-modal-close {
      top: 16px;
      right: 12px;
    }

    .ant-modal-close-x {
      width: 52px;
      height: 52px;
    }
  }

  .ant-modal-body {
    max-height: 330px;
    padding: 12px 32px 24px;
    overflow-y: auto;

    .ant-form {
      margin-bottom: -24px;
    }
  }

  .ant-modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    margin-left: -32px;
    margin-right: -32px;
    padding: 0 64px;
    background-color: $input-background-normal-color;
    border-color: $flow-form-field-name-border-color;

    .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
      margin-left: 16px;
    }
  }
}

.ant-modal-mask {
  background-color: $modal-mask-bg;
}

/* input style begin */

.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-form-item-has-error :not(.ant-input-number-affix-wrapper-disabled):not(.ant-input-number-affix-wrapper-borderless).ant-input-number-affix-wrapper, .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover, .ant-form-item-has-error :not(.ant-input-number-affix-wrapper-disabled):not(.ant-input-number-affix-wrapper-borderless).ant-input-number-affix-wrapper:hover {
  background-color: $input-background-normal-color;
}

.ant-form-item-has-error .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input) .ant-select-selector {
  background-color: $input-background-normal-color;
}

.ant-form-item-has-error .ant-input-number, .ant-form-item-has-error .ant-picker {
  background-color: $input-background-normal-color;
}

.ant-form-item-has-error .ant-input-number:not([disabled]):hover, .ant-form-item-has-error .ant-picker:not([disabled]):hover {
  background-color: $input-background-normal-color;
}

.ant-input-textarea-show-count::after {
  color: $hint-text-color;
}

.ant-input, .ant-input-number {
  border-radius: 3px;
  border-color: transparent;
  background-color: $input-background-normal-color;
  color: $input-text-active-color;

  &:hover {
    border-color: $input-border-hover-color;
    background-color: transparent;
  }

  &:focus {
    border-color: $input-border-hover-color;
    box-shadow: 0 0 0 3px $input-shadow-color;
    background-color: transparent;
  }

  &::-webkit-input-placeholder {
    color: $input-text-placeholder-color;
  }

  &.ant-input-lg {
    padding: 8px 12px;
    font-size: 14px;
  }

  &[disabled] {
    color: inherit;
    background: linear-gradient(
                    -45deg,
                    $input-background-normal-color 0,
                    $input-background-normal-color 5%,
                    transparent 5%,
                    transparent 50%,
                    $input-background-normal-color 50%,
                    $input-background-normal-color 55%,
                    transparent 55%,
                    transparent
    );
    background-size: 10px 10px;
    background-color: $input-background-normal-color;
    border-color: transparent;

    &:hover {
      border-color: transparent;
    }
  }
}

.ant-input-affix-wrapper {
  border-radius: 3px;
  border-color: transparent;
  background-color: $input-background-normal-color;

  &:not(&-disabled):hover {
    border-color: $input-border-hover-color;
    background-color: transparent;
  }

  .ant-input {
    background-color: transparent;
  }
}

.ant-input-affix-wrapper-focused {
  border-color: $input-border-hover-color;
  box-shadow: 0 0 0 3px $input-shadow-color;
}

.ant-form-item-has-error {
  .ant-input {
    box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.5);
  }

  .ant-input-affix-wrapper {
    box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.5);

    &:hover {
      border-color: #ff4d4f;
    }

    .ant-input {
      box-shadow: none;
    }
  }

  .ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
  }

  .ant-input-number.ant-input-number-focused {
    box-shadow: none;
  }
}

.ant-form-item {
  &.ant-form-item-has-error {
    .ant-input {
      box-shadow: none;
    }

    .ant-input,
    .ant-input-affix-wrapper {
      border-color: #ff5568;

      &:hover {
        border-color: #ff5568;
      }
    }

    .ant-select-selector {
      border: 1px solid #ff5568;
    }
  }

  .ant-form-item-explain {
    line-height: 32px;
    font-size: 12px;
    font-weight: 400;

    &.ant-form-item-explain-error {
      color: #ff5568;
    }
  }
}

/* input style end */

.ant-checkbox {
  &.ant-checkbox-disabled {
    & + span {
      color: #181f43;
    }
  }
}

.ant-checkbox-wrapper {
  color: $flow-form-field-name-text-color;

  .ant-checkbox-inner {
    background-color: $checkbox-indeterminate-bg;
    border-color: $checkbox-indeterminate-border-color;
  }
}

.ant-checkbox-group {
  .ant-checkbox-wrapper {
    margin-bottom: 12px;
    color: $flow-form-field-name-text-color;
  }
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-tree-checkbox-checked .ant-tree-checkbox-inner {
  background-color: $checkbox-checked-bg;
  border-color: $checkbox-checked-bg;
}

// 树形控件半选状态
.ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner::after {
  background-color: $checkbox-checked-bg;
}

.ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: $checkbox-indeterminate-bg;
  border-color: $checkbox-indeterminate-border-color;
}

.ant-tree-checkbox-wrapper:hover .ant-tree-checkbox-inner,
.ant-tree-checkbox:hover .ant-tree-checkbox-inner,
.ant-tree-checkbox-input:focus + .ant-tree-checkbox-inner {
  border-color: $checkbox-checked-bg;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: $checkbox-checked-bg;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-checked::after {
  border-color: $checkbox-checked-bg;
}

.ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ededf0;

  &::after {
    border-color: #aeb1bd;
  }
}

// 定制tooltip
.ant-tooltip-inner {
  line-height: 22px;
  border-radius: 3px;
  color: #fff;
  background-color: rgba(#1a1b1e, 0.85);
  font-size: 14px;
  font-weight: 400;
}

/* datepicker style begin */
.ant-picker {
  border-radius: 3px;
  border-color: transparent;
  background-color: $datepicker-background-normal-color;

  &:hover {
    border-color: $datepicker-border-hover-color;
    background-color: $datepicker-background-hover-color;
  }

  &:focus {
    border-color: $datepicker-border-hover-color;
    box-shadow: 0 0 0 3px $datepicker-shadow-color;
    background-color: $datepicker-background-hover-color;
  }

  &.ant-picker-disabled {
    color: inherit;
    background-size: 10px 10px;
    background: $datepicker-background-normal-color linear-gradient(
                    -45deg,
                    $datepicker-background-normal-color 0,
                    $datepicker-background-normal-color 5%,
                    transparent 5%,
                    transparent 50%,
                    $datepicker-background-normal-color 50%,
                    $datepicker-background-normal-color 55%,
                    transparent 55%,
                    transparent
    );
    border-color: transparent;

    &:hover {
      border-color: transparent;
    }
  }

  & > .ant-picker-input {
    & > input {
      color: $datepicker-text-active-color;

      &::-webkit-input-placeholder {
        color: $datepicker-text-placeholder-color;
      }
    }
  }

  .ant-picker-range-separator {
    .ant-picker-separator {
      color: $body-text-color;
    }
  }
}

.ant-picker-input {
  & > input[disabled] {
    color: inherit;
  }
}

.ant-picker-range .ant-picker-active-bar {
  background: $primary-color;
}

/* date-picker dropdown */
.ant-picker-dropdown {
  .ant-picker-range-arrow {
    &::after {
      border-color: $datepicker-dropdown-body-background-color $datepicker-dropdown-body-background-color transparent transparent;
    }
  }

  .ant-picker-panel-container {
    background-color: $datepicker-dropdown-body-background-color;

    .ant-picker-panels {
      .ant-picker-panel {
        border-color: $datepicker-dropdown-border-normal-color;

        .ant-picker-year-panel,
        .ant-picker-month-panel,
        .ant-picker-decade-panel,
        .ant-picker-date-panel {
          .ant-picker-header {
            border-bottom-color: $datepicker-dropdown-border-normal-color;

            & > button {
              color: $hint-text-color;
            }

            .ant-picker-header-view {
              color: $datepicker-dropdown-text-normal-color;
              //$datepicker-dropdown-border-normal-color
              & > button {
                color: $caption-text-color;
              }
            }
          }

          .ant-picker-body {
            .ant-picker-content {
              th {
                color: $title-text-color;
              }

              .ant-picker-cell {
                color: $hint-text-color;

                &.ant-picker-cell-in-view {
                  color: $body-text-color;

                  &.ant-picker-cell-in-range::before {
                    background-color: $datepicker-shadow-color;
                  }

                  &.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
                  &.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
                    background-color: $datepicker-shadow-color;
                  }
                }

                .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover::before, .ant-picker-cell-in-view.ant-picker-cell-range-start.ant-picker-cell-range-hover::before, .ant-picker-cell-in-view.ant-picker-cell-range-end.ant-picker-cell-range-hover::before, .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single).ant-picker-cell-range-hover-start::before, .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single).ant-picker-cell-range-hover-end::before, .ant-picker-panel > :not(.ant-picker-date-panel) .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start::before, .ant-picker-panel > :not(.ant-picker-date-panel) .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end::before {
                  background-color: $primary-color;
                }
              }

              .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
                background-color: $primary-color;
              }

              .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
                background-color: $primary-color;
              }

              .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start .ant-picker-cell-inner::after, .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end .ant-picker-cell-inner::after {
                background-color: $primary-color;
              }

              .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after, .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after, .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start-single::after, .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-end-near-hover::after, .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-start-near-hover::after, .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-end-single::after, .ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-in-range)::after {
                border-color: $primary-color;
              }

              .ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner,
              .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end)
              .ant-picker-cell-inner {
                background-color: $primary-color;
                color: #fff;
              }

              .ant-picker-cell-range-hover-end.ant-picker-cell-in-range .ant-picker-cell-inner {
                color: #fff;
              }

              .ant-picker-cell-today .ant-picker-cell-inner {
                color: $primary-color;

                &::before {
                  width: 6px;
                  height: 6px;
                  border-radius: 50%;
                  right: 0;
                  top: 0;
                  left: auto;
                  background-color: $primary-color;
                  border: 0 none;
                }
              }

              .ant-picker-cell-selected .ant-picker-cell-inner {
                background-color: $primary-color;
                color: #fff;
              }
            }
          }
        }

        .ant-picker-time-panel,
        .ant-picker-year-panel,
        .ant-picker-month-panel,
        .ant-picker-decade-panel,
        .ant-picker-date-panel {
          border-left-color: $datepicker-dropdown-border-normal-color;

          .ant-picker-header {
            border-bottom-color: $datepicker-dropdown-border-normal-color;

            .ant-picker-header-view {
              color: $caption-text-color;
            }
          }

          .ant-picker-time-panel-column:not(:first-child) {
            border-left-color: $datepicker-dropdown-border-normal-color;
          }

          .ant-picker-time-panel-cell-inner {
            color: $body-text-color;

            &:hover {
              background-color: $primary-color;
              color: #fff;
            }
          }

          .ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
            background-color: $primary-color;
            color: #fff;
          }
        }
      }
    }

    .ant-picker-ok {
      .ant-btn-primary {
        &[disabled] {
          border-color: transparent;
          background-color: $disabled-primary-bg;
          color: #fff;
        }
      }
    }
  }
}

/* datepicker style end */

// 定制数字输入框
.ant-input-number {
  input::-webkit-input-placeholder {
    color: $input-text-placeholder-color;
  }

  .ant-input-number-handler-wrap {
    background: transparent;
  }

  .ant-input-number-handler {
    border-color: $button-default-ghost-border-color;
    color: $form-item-label-text-color;

    &:hover {
      border-color: $button-default-ghost-border-hover-color;
    }

    &:active {
      background-color: transparent;
      border-color: $button-default-ghost-border-hover-color;
      box-shadow: 0px 0px 0px 4px $button-default-ghost-shadow-active-color;
    }
  }

  .ant-input-number-handler:hover .ant-input-number-handler-up-inner, .ant-input-number-handler:hover .ant-input-number-handler-down-inner {
    color: $form-item-label-text-color;
  }

  .ant-input-number-handler-up-inner, .ant-input-number-handler-down-inner {
    color: $button-primary-text-color;
  }


}

// 定制抽屉
.ant-drawer-content {
  padding: 0;
  background-color: $flow-manage-drawer-bg;

  .ant-drawer-header {
    padding-top: 32px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 12px;
    margin-left: 32px;
    margin-right: 32px;

    .ant-drawer-title {
      line-height: 24px;
      color: rgba(24, 31, 67, 0.55);
    }

    .ant-drawer-close {
      top: 16px;
      right: -21px;
    }
  }

  .ant-drawer-body {
    padding: 32px;
  }

  .ant-drawer-footer {
    display: flex;
    justify-content: flex-end;
    padding: 24px 32px 32px;
    background-color: rgba(24, 31, 67, 0.04);
  }
}

// 定制radio

.ant-radio-input:focus + .ant-radio-inner {
  box-shadow: none;
}

.ant-radio {
  color: $label-hint-text-color;

  .ant-radio-inner {
    background-color: $content-background-color;
    border-color: $border-normal-color;
  }

  .ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
    border-color: $border-primary-color;
  }

  // 选中样式
  &.ant-radio-checked {
    .ant-radio-inner {
      border-color: $primary-color;

      &::after {
        background-color: $primary-color;
      }
    }
  }

  //禁用样式
  &.ant-radio-disabled {
    & + span {
      color: #181f43;
    }
  }
}

.ant-radio-group {
  color: $form-item-label-text-color;

  .ant-radio-button-wrapper {
    span {
      color: $form-item-label-text-color;
    }

    &.ant-radio-button-wrapper-checked {
      background-color: red;
    }
  }

  .ant-radio-wrapper {
    margin-bottom: 12px;
    color: $label-hint-text-color;
  }
}

// 定制dropdown
.ant-dropdown-menu {
  min-width: 120px;
  padding: 8px 0;
  border-radius: 3px;
  box-shadow: 0px 6px 24px 0px rgba(24, 31, 67, 0.1);
}

.ant-dropdown {
  &.dark {
    border-radius: 3px;
    color: #fff;
    background-color: $deep-mask-color;
  }
}

.ant-cascader-menu {
  padding: 8px;
  border-color: $checkbox-indeterminate-border-color;
}

.ant-cascader-menu-item-expand .ant-cascader-menu-item-expand-icon, .ant-cascader-menu-item-loading-icon {
  color: $form-item-label-text-color;
}

.ant-cascader-menu-item {
  padding: 5px 8px;
  border-radius: 3px;
  color: $select-dropdown-text-normal-color;
}

.ant-cascader-menu-item + .ant-cascader-menu-item {
  margin-top: 4px;
}

.ant-cascader-menu-item-expand .ant-cascader-menu-item-expand-icon,
.ant-cascader-menu-item-loading-icon {
  right: 5px;
}

.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
  color: $select-dropdown-text-normal-color;
  background-color: $select-dropdown-option-hover-color;
  font-weight: normal;
}

.ant-cascader-menu-item:hover {
  background-color: $select-dropdown-option-hover-color;
}

.ant-cascader-input.ant-input {
  border-color: #d9d9d9;
}

.ant-cascader-picker:focus .ant-cascader-input {
  box-shadow: 0 0 0 2px rgba($primary-color-custom, 0.2);
}

.ant-cascader-picker-label:hover
+ .ant-cascader-input:not(.ant-cascader-picker-disabled .ant-cascader-picker-label:hover + .ant-cascader-input) {
  border-color: $primary-color-custom;
}

.ant-cascader-picker {
  &:hover,
  &:focus {
    .ant-cascader-input {
      border-color: $primary-color-custom;
    }
  }
}

// dropdown
.ant-dropdown-menu {
  background-color: $select-dropdown-body-background-color;

  .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    color: $select-dropdown-text-normal-color;

  }

  .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
    background-color: $select-dropdown-option-hover-color;

  }
}

/* select style begin */
.ant-select-clear {
  background-color: $flow-manage-drawer-bg;
}

.ant-select {
  color: $select-text-active-color;

  .ant-select-selector {
    .ant-select-selection-placeholder {
      color: $select-text-placeholder-color;
    }
  }

  // 单选下拉框
  &.ant-select-single {
    &:not(.ant-select-customize-input) {
      .ant-select-selector {
        background: $select-background-normal-color;
        border-radius: 3px;
        border-color: transparent;
        transition: none;

        &:hover {
          background: $select-background-hover-color;
        }

        .ant-select-selection-item {
          color: $select-text-active-color;
        }
      }
    }

    &.ant-select-disabled {
      &:not(.ant-select-customize-input) {
        .ant-select-selector {
          background-color: $select-background-normal-color;
          color: inherit;
        }
      }

      background: linear-gradient(
                      -45deg,
                      $select-background-normal-color 0,
                      $select-background-normal-color 5%,
                      transparent 5%,
                      transparent 50%,
                      $select-background-normal-color 50%,
                      $select-background-normal-color 55%,
                      transparent 55%,
                      transparent
      );
      background-size: 10px 10px;
    }
  }

  &.ant-select-lg {
    font-size: 14px;
  }

  // 复选下拉框
  &.ant-select-multiple {

    .ant-select-selection-item-remove {
      color: #818a9e;
    }

    .ant-select-selection-item {
      background-color: $select-background-normal-color;
      border-color: $checkbox-indeterminate-border-color;
    }

    .ant-select-selector {
      background: $select-background-normal-color;
      border-radius: 3px;
      border-color: transparent;
      transition: none;

      &:hover {
        background: $select-background-hover-color;
      }
    }

    &.ant-select-disabled {
      &:not(.ant-select-customize-input) {
        .ant-select-selector {
          background-color: $select-background-normal-color;
          color: inherit;
        }
      }

      background: linear-gradient(
                      -45deg,
                      $select-background-normal-color 0,
                      $select-background-normal-color 5%,
                      transparent 5%,
                      transparent 50%,
                      $select-background-normal-color 50%,
                      $select-background-normal-color 55%,
                      transparent 55%,
                      transparent
      );
      background-size: 10px 10px;
    }
  }

  // .ant-select-clear {
  //   background-color: $select-background-normal-color;
  // }
}

.ant-select-dropdown {
  padding: 8px;
  background-color: $select-dropdown-body-background-color;

  .ant-select-item {
    color: $select-dropdown-text-normal-color;

    &.ant-select-item-option-active {
      background-color: $select-dropdown-option-hover-color;
    }

    &.ant-select-item-option-selected {
      background-color: $select-dropdown-option-active-color;
      color: $select-dropdown-text-active-color;
    }
  }
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: 0 0 0 3px $select-shadow-color;
  border-color: $select-border-hover-color;
  background-color: $select-background-hover-color;
}

.ant-select-item {
  padding: 5px 8px;
  border-radius: 3px;

  & + .ant-select-item {
    margin-top: 4px;
  }
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: $select-background-normal-color;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: $primary-color-custom;
  background-color: $select-background-normal-color;
  font-weight: normal;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: 0 0 0 3px $select-shadow-color;
  border-color: $select-border-hover-color;
  background-color: $select-background-hover-color;
}

/* select style end */

/* table style begin */
.ant-table-wrapper {
  .ant-table {
    // 表头
    .ant-table-thead {
      & > tr {
        & > th {
          font-weight: 600;
          border-top: 1px solid rgba(24, 31, 67, 0.12);
          background-color: $content-background-color;
          color: $table-head-text-color;

          &:not(:last-child):not(.ant-table-se lection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
            display: none;
          }
        }
      }
    }

    // 表格本身
    .ant-table-tbody {
      & > tr.ant-table-row:hover {
        & > td {
          background-color: $table-body-background-hover-color;
        }
      }

      & > tr {
        &.ant-table-placeholde:hover {
          .ant-table-cell {
            background-color: $content-background-color;
          }
        }
      }
    }

    .ant-table-cell {
      background-color: $content-background-color;
      color: $caption-text-color;
      border-color: $border-normal-color;
    }

    td.ant-table-column-sort {
      background-color: $content-background-color;
    }

    .ant-table-column-sorter-up.active,
    .ant-table-column-sorter-down.active {
      color: $primary-color-custom;
    }

    .ant-table-tbody > tr.ant-table-placeholder:hover > td {
      background-color: $content-background-color;
    }

    .ant-empty-normal {
      color: $body-text-color;
    }
  }

  .ant-table-pagination {
    .ant-pagination-prev,
    .ant-pagination-item,
    .ant-pagination-next {
      color: $body-text-color;
      background-color: transparent;
      border-color: transparent;

      .ant-pagination-item-link {
        color: $body-text-color;
        background-color: transparent;
        border-color: transparent;
      }

      a {
        color: $body-text-color;
      }

      &.ant-pagination-item-active {
        background-color: $select-dropdown-option-active-color;

        a {
          color: $primary-color;
        }
      }

      &:hover {
        .ant-pagination-item-link,
        a {
          color: $primary-color;
        }
      }
    }
  }
}

.ant-pagination-item-active {
  border-color: $primary-color-custom;
}

.ant-pagination-item-active a {
  color: $primary-color-custom;
}

.ant-pagination-item:focus-visible,
.ant-pagination-item:hover {
  border-color: $primary-color-custom;

  a {
    color: $primary-color-custom;
  }
}

.ant-pagination-prev:focus-visible .ant-pagination-item-link,
.ant-pagination-next:focus-visible .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  border-color: $primary-color-custom;
  color: $primary-color-custom;
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus-visible .ant-pagination-item-link {
  border-color: #d9d9d9;
  color: rgba(#000, 0.2);
}

/* table style end */

// 定制局部区域空状态
.ant-empty {
  &.ant-empty-normal {
    .ant-empty-image {
      height: 96px;
    }
  }

  .ant-empty-description {
    color: $caption-text-color;
  }
}

// antd message
.ant-message {
  top: 48px;
  color: $label-hint-text-color;

  .ant-message-notice-content {
    background-color: $dropdown-body-background-color;
  }
}

/* form style begin */
.ant-form {
  .ant-form-item {
    color: $form-item-label-text-color;

    .ant-form-item-label {
      label {
        color: $form-item-label-text-color;
      }
    }

    .ant-picker-focused {
      box-shadow: 0 0 0 2px $datepicker-shadow-color;
    }
  }
}

/* form style end */

// popover
.ant-popover {
  color: $popover-dropdown-text-normal-color;

  .ant-popover-inner {
    background-color: $popover-dropdown-bg;
  }

  .ant-popover-inner-content {
    color: $popover-dropdown-text-normal-color;
  }
}

// ant-tabs
.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-color: $datepicker-dropdown-border-normal-color;
}

// ant-tree
.ant-tree {
  background-color: $dropdown-body-background-color;

  .ant-tree-node-content-wrapper {
    color: $form-item-label-text-color;
  }

  .ant-tree-switcher-icon {
    color: #60697BFF;
  }
}

.ant-tree-checkbox-inner {
  background-color: $checkbox-indeterminate-bg;
  border-color: $checkbox-indeterminate-border-color;
}

// .ant-upload
.ant-upload {
  background-color: $input-background-normal-color !important;
  color: $body-text-color;
}
