@import './var.scss';

.ant-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;

  svg {
    margin-right: 4px;
  }
}

.ant-btn:hover,
.ant-btn:active,
.ant-btn:focus {
  color: $primary-color;
  border-color: $primary-color;

  svg {
    color: inherit;
  }
}

.ant-btn-primary {
  &,
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }

  &.ant-btn-background-ghost {
    color: $primary-color;
    border-radius: 3px;
    border-color: rgba($primary-color, 0.8);

    &:focus {
      border-color: $primary-color;
      color: $primary-color;
    }

    &:hover {
      border-color: rgba($primary-color, 0.5);
      color: rgba($primary-color, 0.8);
    }

    &.disabled {
      border-color: rgba(#a6ace2, 0.5);
      color: rgba($primary-color, 0.5);
    }
  }

  &.disabled {
    background-color: #a6ace2;
  }

  &[disabled] {
    background-color: #a6ace2;
    &:hover {
      background-color: #a6ace2;
    }
  }

  svg {
    color: inherit;
  }
}

.ant-btn-circle {
  svg {
    margin-right: 0;
  }
}

.ant-btn-icon-only {
  .anticon {
    font-size: 0;
  }

  svg {
    margin: 0;
    font-size: 16px;
  }
}

.ant-switch {
  height: 24px;
  line-height: 24px;
  background-color: #c1d1cd;
}

.ant-switch-handle {
  width: 20px;
  height: 20px;
}

.ant-switch-checked {
  background-color: $primary-color;

  .ant-switch-handle {
    left: calc(100% - 20px - 2px);
  }
}

// 定制弹框
.ant-modal {
  padding: 0;

  .ant-modal-content {
    padding: 32px;
    padding-bottom: 0;

    .ant-modal-header {
      padding: 0;
      padding-bottom: 12px;
      border-bottom: 1px solid rgba(24, 31, 67, 0.08);

      .ant-modal-title {
        line-height: 24px;
        color: rgba($primary-text-color, 0.75);
        font-size: 16px;
        font-weight: 500;
      }
    }

    .ant-modal-close {
      top: 12px;
      right: 12px;
    }

    .ant-modal-close-x {
      width: 52px;
      height: 52px;
    }
  }

  .ant-modal-body {
    max-height: 330px;
    padding: 12px 0 24px;

    .ant-form {
      margin-bottom: -24px;
    }
  }

  .ant-modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    margin-left: -32px;
    margin-right: -32px;
    padding: 0 32px;
    border: none;
    background-color: rgba(24, 31, 67, 0.04);

    .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
      margin-left: 16px;
    }
  }
}

.ant-modal-mask {
  background-color: rgba(24, 31, 67, 0.55);
}

// 定制输入框
.ant-input {
  border-radius: 3px;
  border-color: transparent;
  background-color: rgba(24, 39, 67, 0.04);

  &:hover {
    border-color: rgba($primary-color, 0.85);
    background-color: transparent;
  }

  &:focus {
    border-color: rgba($primary-color, 0.85);
    box-shadow: 0 0 0 3px rgba(76, 92, 219, 0.2);
    background-color: transparent;
  }

  &.ant-input-lg {
    padding: 8px 12px;
    font-size: 14px;
  }

  &[disabled] {
    background-color: rgba(24, 39, 67, 0.04);

    &:hover {
      border-color: transparent;
    }
  }
}

.ant-input-affix-wrapper {
  border-radius: 3px;
  border-color: transparent;
  background-color: rgba(24, 31, 67, 0.04);

  &:not(&-disabled):hover {
    border-color: rgba(76, 92, 219, 0.85);
    background-color: transparent;
  }

  .ant-input {
    background-color: transparent;
  }
}

.ant-input-affix-wrapper-focused {
  border-color: rgba(76, 92, 219, 0.85);
  box-shadow: 0 0 0 3px rgba(76, 92, 219, 0.2);
}

.ant-form-item-has-error {
  .ant-input {
    box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.5);
  }

  .ant-input-affix-wrapper {
    box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.5);

    &:hover {
      border-color: #ff4d4f;
    }

    .ant-input {
      box-shadow: none;
    }
  }

  .ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
  }
}

.ant-form-item {
  &.ant-form-item-has-error {
    .ant-input {
      box-shadow: none;
    }

    .ant-input,
    .ant-input-affix-wrapper {
      border-color: #ff5568;
      &:hover {
        border-color: #ff5568;
      }
    }

    .ant-select-selector {
      border: 1px solid #ff5568;
    }
  }

  .ant-form-item-explain {
    line-height: 32px;
    font-size: 12px;
    font-weight: 400;
    &.ant-form-item-explain-error {
      color: #ff5568;
    }
  }

  .ant-form-item-explain {
    line-height: 24px;
  }
}

.ant-checkbox {
  &.ant-checkbox-disabled {
    & + span {
      color: #181f43;
    }
  }
}

.ant-checkbox-group {
  .ant-checkbox-wrapper {
    margin-bottom: 12px;
  }
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-tree-checkbox-checked .ant-tree-checkbox-inner {
  background-color: $primary-color;
  border-color: $primary-color;
}

// 树形控件半选状态
.ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner::after {
  background-color: $primary-color;
}

.ant-tree-checkbox-wrapper:hover .ant-tree-checkbox-inner,
.ant-tree-checkbox:hover .ant-tree-checkbox-inner,
.ant-tree-checkbox-input:focus + .ant-tree-checkbox-inner {
  border-color: $primary-color;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: $primary-color;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-checked::after {
  border-color: $primary-color;
}

.ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ededf0;

  &::after {
    border-color: #aeb1bd;
  }
}
// 定制tooltip
.ant-tooltip-inner {
  line-height: 22px;
  border-radius: 3px;
  color: #fff;
  background-color: rgba(#1a1b1e, 0.85);
  font-size: 14px;
  font-weight: 400;
}

// 定制时间框
.ant-picker {
  border-radius: 3px;
  border-color: transparent;
  background-color: rgba(24, 39, 67, 0.04);
  &:hover {
    border-color: rgba($primary-color, 0.85);
    background-color: transparent;
  }

  &:focus {
    border-color: rgba($primary-color, 0.85);
    box-shadow: 0 0 0 3px rgba(76, 92, 219, 0.2);
    background-color: transparent;
  }
  &.ant-picker-disabled {
    background-color: rgba(24, 39, 67, 0.04);
    border-color: transparent;
    &:hover {
      border-color: transparent;
    }
  }
}
// 定制数字输入框
.ant-input-number {
  border-radius: 3px;
  border-color: transparent;
  background-color: rgba(24, 39, 67, 0.04);
  &:hover {
    border-color: rgba($primary-color, 0.85);
    background-color: transparent;
  }
  &.ant-input-number-disabled {
    background-color: inherit;
    &:hover {
      border-color: transparent;
    }
  }

  &:focus {
    border-color: rgba($primary-color, 0.85);
    box-shadow: 0 0 0 3px rgba(76, 92, 219, 0.2);
    background-color: transparent;
  }
  .ant-input-number-input {
    &[disabled] {
      background-color: rgba(24, 39, 67, 0.04);
    }
  }
}
// 定制抽屉
.ant-drawer-content {
  padding: 0;

  .ant-drawer-header {
    padding-top: 32px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 12px;
    margin-left: 32px;
    margin-right: 32px;

    .ant-drawer-title {
      line-height: 24px;
      color: rgba(24, 31, 67, 0.55);
    }

    .ant-drawer-close {
      top: 16px;
      right: -21px;
    }
  }

  .ant-drawer-body {
    padding: 32px;
  }

  .ant-drawer-footer {
    display: flex;
    justify-content: flex-end;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    padding-bottom: 32px;
    background-color: rgba(24, 31, 67, 0.04);
  }
}
// 定制radio
.ant-radio {
  // 选中样式
  &.ant-radio-checked {
    .ant-radio-inner {
      border-color: $primary-color;

      &::after {
        background-color: $primary-color;
      }
    }
  }
  //禁用样式
  &.ant-radio-disabled {
    & + span {
      color: #181f43;
    }
  }
}

.ant-radio-group {
  .ant-radio-wrapper {
    margin-bottom: 12px;
  }
}

// 定制dropdown
.ant-dropdown-menu {
  min-width: 120px;
  padding: 8px 0;
  border-radius: 3px;
  box-shadow: 0px 6px 24px 0px rgba(24, 31, 67, 0.1);
}

.ant-dropdown {
  &.dark {
    border-radius: 3px;
    color: #fff;
    background-color: $deep-mask-color;
  }
}

.ant-cascader-menu {
  padding: 8px;
}

.ant-cascader-menu-item {
  padding: 5px 8px;
  border-radius: 3px;
}

.ant-cascader-menu-item + .ant-cascader-menu-item {
  margin-top: 4px;
}

.ant-cascader-menu-item-expand .ant-cascader-menu-item-expand-icon,
.ant-cascader-menu-item-loading-icon {
  right: 5px;
}

.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
  color: $primary-color;
  background-color: rgba($primary-color, 0.08);
  font-weight: normal;
}

.ant-cascader-menu-item:hover {
  background-color: rgba($primary-text-color, 0.04);
}

.ant-cascader-input.ant-input {
  border-color: #d9d9d9;
}

.ant-cascader-picker:focus .ant-cascader-input {
  box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
}

.ant-cascader-picker-label:hover
  + .ant-cascader-input:not(.ant-cascader-picker-disabled .ant-cascader-picker-label:hover + .ant-cascader-input) {
  border-color: $primary-color;
}

.ant-cascader-picker {
  &:hover,
  &:focus {
    .ant-cascader-input {
      border-color: $primary-color;
    }
  }
}

// 定制下拉框
.ant-select {
  // 单选下拉框
  &.ant-select-single {
    &:not(.ant-select-customize-input) {
      .ant-select-selector {
        background: rgba(24, 39, 67, 0.04);
        border-radius: 3px;
        border-color: transparent;
      }
    }

    &.ant-select-disabled {
      &:not(.ant-select-customize-input) {
        .ant-select-selector {
          background: rgba(24, 39, 67, 0.04);
        }
      }
    }
  }

  &.ant-select-lg {
    font-size: 14px;
  }

  // 复选下拉框
  &.ant-select-multiple {
    .ant-select-selector {
      background: rgba(24, 39, 67, 0.04);
      border-radius: 3px;
      border: none;
    }
    &.ant-select-disabled {
      &:not(.ant-select-customize-input) {
        .ant-select-selector {
          background: rgba(24, 39, 67, 0.04);
        }
      }
    }
  }
}

.ant-select-dropdown {
  padding: 8px;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
}

.ant-select-item {
  padding: 5px 8px;
  border-radius: 3px;

  & + .ant-select-item {
    margin-top: 4px;
  }
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: rgba($primary-text-color, 0.04);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: $primary-color;
  background-color: rgba($primary-color, 0.08);
  font-weight: normal;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: $primary-color;
}

// 定制表格
.ant-table {
  // 表头
  .ant-table-thead {
    & > tr {
      & > th {
        font-weight: 600;
        border-top: 1px solid rgba(24, 31, 67, 0.12);
        background-color: #fff;
        &:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
          display: none;
        }
      }
    }
  }
  // 表格本身
  .ant-table-tbody {
    & > tr.ant-table-row:hover {
      & > td {
        background-color: #f1f2fd;
      }
    }
  }

  td.ant-table-column-sort {
    background-color: #fff;
  }

  .ant-table-column-sorter-up.active,
  .ant-table-column-sorter-down.active {
    color: $primary-color;
  }
}

.ant-pagination-item-active {
  border-color: $primary-color;
}

.ant-pagination-item-active a {
  color: $primary-color;
}

.ant-pagination-item:focus-visible,
.ant-pagination-item:hover {
  border-color: $primary-color;

  a {
    color: $primary-color;
  }
}

.ant-pagination-prev:focus-visible .ant-pagination-item-link,
.ant-pagination-next:focus-visible .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  border-color: $primary-color;
  color: $primary-color;
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus-visible .ant-pagination-item-link {
  border-color: #d9d9d9;
  color: rgba(#000, 0.2);
}

// 定制局部区域空状态
.ant-empty {
  &.ant-empty-normal {
    .ant-empty-image {
      height: 96px;
    }
  }
}
