$light-side-background-color: #f6f7f8;
$light-text-color: #181f43;
$light-content-background-color: #fff;
$dark-text-color: #fff;
$dark-side-background-color: #2d2d2f;
$dark-content-background-color: #202023;
$dark-header-background-color: #363639;
