$light-side-background-color: #f6f7f8;
$light-text-color: #181f43;
$light-content-background-color: #fff;


$dark-text-color: rgba(255, 255, 255, 0.5);
$dark-side-background-color: #2d2d2f;
$dark-content-background-color: #202023;
$dark-header-background-color: #363639;
$dark-active-text-color: #7582E3;
$dark-btn-background-color: #5D6CDE;
$dark-second-background-color: #4C5CDB;
