// 通用样式
$primary-color: var(--ant-primary-color, #4c5cdb);
$main-content-min-height: calc(100vh - 65px);

// 背景颜色
$header-background-color: var(--custom-header-background, #ffffffff);
$side-background-color: var(--custom-side-background, #1827430a);
$content-background-color: var(--custom-body-background, #ffffffff);
$flow-manage-content-bg: var(--custom-flow-manage-content-bg, #F6F7F8FF);
$flow-manage-drawer-bg: var(--custom-flow-manage-drawer-bg, #ffffffff);

// 文字颜色
$title-text-color: var(--custom-title-text-color, #181f43ff);
$body-text-color: var(--custom-body-text-color, #181f43bf);
$caption-text-color: var(--custom-caption-text-color, #181f4380);
$hint-text-color: var(--custom-hint-text-color, #181f434d);
$menu-title-text-color: var(--custom-menu-title-text-color, #181f43ff);

// 边框颜色
$border-normal-color: var(--custom-border-normal-color, #181f431f);
$border-hover-color: var(--custom-border-hover-color, #181f434d);
$border-primary-color: var(--custom-border-primary-color, $primary-color);

// input
$input-background-normal-color: var(--custom-input-background-normal-color, #1827430a);
$input-background-hover-color: var(--custom-input-background-hover-color, #ffffffff);
$input-text-placeholder-color: var(--custom-input-text-placeholder-color, #181f434d);
$input-text-active-color: var(--custom-input-text-active-color, #181f43ff);
$input-border-hover-color: var(--custom-input-border-hover-color, #4c5cdbcc);
$input-border-active-color: var(--custom-input-border-hover-color, #4c5cdbcc);
$input-shadow-color: var(--custom-input-shadow-color, #4c5cdb1f);

// select
$select-background-normal-color: var(--custom-select-background-normal-color, #1827430a);
$select-background-hover-color: var(--custom-select-background-hover-color, #ffffffff);
$select-text-placeholder-color: var(--custom-select-text-placeholder-color, #181f434d);
$select-text-active-color: var(--custom-select-text-active-color, #181f43ff);
$select-border-hover-color: var(--custom-select-border-hover-color, #4c5cdbcc);
$select-border-active-color: var(--custom-select-border-hover-color, #4c5cdbcc);
$select-shadow-color: var(--custom-select-shadow-color, #4c5cdb1f);
// select-dropdown
$select-dropdown-body-background-color: var(--custom-select-dropdown-body-background-color, #ffffffff);
$select-dropdown-option-hover-color: var(--custom-select-dropdown-option-hover-color, #1827430a);
$select-dropdown-option-active-color: var(--custom-select-dropdown-option-active-color, #4c5cdb14);
$select-dropdown-text-normal-color: var(--custom-select-dropdown-text-normal-color, #181f43ff);
$select-dropdown-text-active-color: var(--custom-select-dropdown-text-hover-color, #4c5cdbff);

// datepicker
$datepicker-background-normal-color: var(--custom-datepicker-background-normal-color, #1827430a);
$datepicker-background-hover-color: var(--custom-datepicker-background-hover-color, #ffffffff);
$datepicker-text-placeholder-color: var(--custom-datepicker-text-placeholder-color, #181f434d);
$datepicker-text-active-color: var(--custom-datepicker-text-active-color, #181f43ff);
$datepicker-border-hover-color: var(--custom-datepicker-border-hover-color, #4c5cdbcc);
$datepicker-border-active-color: var(--custom-datepicker-border-hover-color, #4c5cdbcc);
$datepicker-shadow-color: var(--custom-datepicker-shadow-color, #4c5cdb1f);
// datepicker-dropdown
$datepicker-dropdown-body-background-color: var(--custom-datepicker-dropdown-body-background-color, #ffffffff);
$datepicker-dropdown-option-hover-color: var(--custom-datepicker-dropdown-option-hover-color, #1827430a);
$datepicker-dropdown-option-active-color: var(--custom-datepicker-dropdown-option-active-color, #4c5cdb14);
$datepicker-dropdown-text-normal-color: var(--custom-datepicker-dropdown-text-normal-color, #181f43ff);
$datepicker-dropdown-border-normal-color: var(--custom-datepicker-dropdown-border-normal-color, #181F4314);
$datepicker-dropdown-text-active-color: var(--custom-datepicker-dropdown-text-hover-color, #4c5cdbff);

// table
$table-body-background-hover-color: var(--custom-table-body-background-hover-color, #4c5cdb0f);
$table-head-text-color: var(--custom-table-head-text-color, #000000d8);

// 任务中心header
$menu-title-text-color: var(--custom-menu-title-text, #000000d9);
$menu-line-color: var(--custom-menu-line, #181f431f);
$nav-color: var(--custom-menu-nav, #181f43bf);
$nav-active-color: var(--custom-menu-nav-active, #000000d8);

// datepicker dropdown
$dropdown-border-shadow-color: #181f431a;
$dropdown-header-border-color: var(--custom-dropdown-header-border, #f0f0f0);
$btn-primary-text-color: var(--custom-btn-primary-color, #fff);
$disabled-primary-bg: var(--custom-btn-disable-bg, #4c5cdb80);
$disabled-primary-color: var(--custom-btn-disable-color, #ffffff7f);
$time-selected-bg: var(--custom-selected-time-bg, #4c5cdb1f);
$time-selected-text-color: var(--custom-selected-time-text, #4c5cdb);
$time-range-hover-bg: var(--custom-range-hover-bg, #ffffff0f);

//$dropdown
$dropdown-body-background-color: var(--custom-dropdown-bg, #ffffffff);

// button
$button-default-background-color: var(--custom-btn-default-bg, #fff);
$button-default-disabled-background-color: var(--custom-btn-disabled-default-bg, #1827430A);
$button-default-text-hover-color: var(--custom-btn-default-text-hover-color, #4C5CDBFF);
$button-default-disabled-text-color: var(--custom-btn-default-disabled-text-color, #181F434D);
$button-default-border-color: var(--custom-btn-default-border-color, #181F431F);
$button-default-border-hover-color: var(--custom-default-btn-border-hover-color, #4C5CDBCC);


$button-primary-background-color: var(--custom-btn-primary-bg, #4C5CDBFF);
$button-primary-disabled-background-color: var(--custom-btn-primary-disabled-bg, #4C5CDB80);
$button-primary-background-hover-color: var(--custom-btn-primary-hover-bg, #4C5CDBCC);
$button-primary-text-color: var(--custom-btn-primary-text-color, #ffffffff);
$button-primary-text-disabled-color: var(--custom-btn-primary-text-disabled-color, #ffffffff);
$button-primary-ghost-text-color: var(--custom-btn-primary-ghost-text-color, #4c5cdbff);
$button-primary-ghost-border-color: var(--custom-btn-primary-ghost-border-color, #4C5CDBCC);
$button-primary-ghost-text-hover-color: var(--custom-btn-primary-ghost-text-hover-color, #4C5CDBCC);
$button-primary-ghost-border-hover-color: var(--custom-btn-primary-ghost-border-hover-color, #4C5CDB80);
$button-primary-ghost-disabled-border-color: var(--custom-btn-primary-ghost-disabled-border-color, #4C5CDB80);
$button-primary-ghost-disabled-text-color: var(--custom-btn-primary-ghost-disabled-text-color, #4C5CDB80);

// form
$form-item-label-text-color: var(--custom-form-item-label-text-color, #181F43FF);
$flow-form-field-name-text-color: var(--custom-flow-form-field-name-text-color, #181F43BF);
$flow-form-title-color: var(--custom-flow-form-title-color, #000000D9);
$flow-form-field-name-border-color: var(--custom-flow-form-field-name-border-color, #181F4314);


// checkbox
$checkbox-checked-bg: var(--custom-checkbox-checked-bg, #4C5CDBFF);
$checkbox-indeterminate-bg: var(--custom-checkbox-indeterminate-bg, #ffffffff);
$checkbox-indeterminate-border-color: var(--custom-checkbox-indeterminate-border-color, #181F431F);


$primary-color-custom: #4c5cdb;
$primary-text-color: #181f43;
$border-color: rgba($primary-text-color, 0.12);
$background-gray: rgba($primary-text-color, 0.08);
$background-light: rgba($primary-text-color, 0.04);
$sub-text-color: rgba($primary-text-color, 0.55);
$tooltip-color: rgba($primary-text-color, 0.85);
$icon-color: #818a9e;
$mask-color: #1a1b1e;
$white: #fff;
$disabled-color: rgba($white, 0.35);
$deep-mask-color: rgba($mask-color, 0.85);
$success-color: #63c4ad;
$danger-color: #ff5568;

:root {
  --ant-primary-5: rgba(#4c5cdb, 0.85);
}
