@import '@common/styles/var.scss';
.container {
  padding: 12px 16px;
  cursor: move;
  div {
    &:first-child {
      pointer-events: none;
    }
  }
  &:hover {
    .operation {
      display: block;
    }
  }
  .operation {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 60px;
    height: 22px;
    background: #8b8fa1;
    border-radius: 0px 3px 0px 3px;
    span {
      &:first-child {
        margin: 3px 12px 3px 4px;
      }
      &:last-child {
        margin: 3px 4px 3px 0;
      }
    }
    .iconfont {
      display: inline-block;
      width: 16px;
      height: 16px;
      line-height: 16px;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .moveUp,
  .moveDown,
  .moveLeft,
  .moveRight {
    display: none;
    position: absolute;
    z-index: 2;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid $primary-color;
    cursor: pointer;
    .iconfont {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      line-height: 10px;
      font-size: 10px;
      color: $primary-color;
      transform: translate(-50%, -50%);
    }
  }
  .moveUp {
    top: -9px;
    left: 50%;
    transform: translateX(-9px);
  }
  .moveDown {
    bottom: -9px;
    left: 50%;
    transform: translateX(-9px);
  }
  .moveLeft {
    top: 50%;
    left: -9px;
    transform: translateY(-9px);
  }
  .moveRight {
    top: 50%;
    right: -9px;
    transform: translateY(-9px);
  }
}
