@import "@common/styles/var.scss";

.app-manager-sider {
  height: 100%;
  background: transparent;
  .ant-layout-sider {
    height: 100%;
    padding: 16px 0 24px 0;
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;

      .search {
        height: 40px;
        padding: 0 8px;
        .input {
          background-color: transparent;
          border-color: transparent !important;
          box-shadow: none !important;
          .ant-input {
            background-color: transparent;
          }
        }
        .search-icon {
          font-size: 20px;
          cursor: pointer;
        }
      }
      .menu-list {
        flex: 1;
        height: calc(100% - 80px);
        overflow-y: auto;
        .icon-dropdown {
          display: none;
          color: $primary-color;
        }
        .ant-menu-title-content {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      .ant-menu-inline .ant-menu-item {
        width: auto !important;
        padding: 0 8px !important;
        margin: 0 24px 8px 24px;
        border-radius: 3px;
        &:first-child {
          border-top: 1px solid rgba(24, 31, 67, 0.08);
        }
        &.ant-menu-item-selected {
          color: $primary-color;
          background: rgba(24, 39, 67, 0.04);
          &::after {
            display: none;
          }
        }
        &:hover {
          color: $primary-color;
          background: rgba(24, 39, 67, 0.04);
          .icon-dropdown {
            display: inline-block;
          }
          }
      }

      .add-workspace {
        height: 40px;
        padding: 0 24px;
        .button {
          width: 100%;
        }
      }
    }
  }
}

.dropdown-sider-container {
  .ant-dropdown-menu {
    max-width: 80px;
    min-width: 80px;
      .ant-dropdown-menu-item {
        &:hover {
          background-color: #fff;
          .ant-dropdown-menu-item-icon {
            color: $primary-color;
          }
          .ant-dropdown-menu-title-content {
            color: $primary-color;
          }
      }
    }
  }

}
