@import '@common/styles/mixin.scss';

.flex-row {
  @include center('flex');

  height: 50px;
  line-height: 22px;
  border-bottom: 1px solid rgba(#181f43, 0.08);
  color: rgba(#181f43, 0.75);
  font-size: 14px;
  font-weight: 400;

  &.only-view {
    .cell:last-child {
      flex-grow: 2;
    }
  }

  .cell {
    @include center('flex');

    flex: 1 1 0;

    &:first-child {
      @include ellipsis;

      display: block;
      padding-right: 5px;
    }

    &:last-child {
      flex-grow: 0;
      flex-basis: 60px;
    }
  }
}

.title {
  border-top: 1px solid rgba(#181f43, 0.08);
  font-weight: 500;
}
