@import '@common/styles/var.scss';
@import '@common/styles/mixin.scss';

.container {
  @include center('flex');

  align-items: flex-start;

  .icon {
    @include center('flex');

    justify-content: center;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    margin-right: 12px;
    border-radius: 3px;
    font-size: 12px;

    svg {
      color: #fff;
    }

    &.success {
      background-color: #06c498;
    }

    &.error {
      background-color: #ff5568;
    }

    &.processing {
      background-color: $primary-color;
    }
  }

  .content {
    flex: 1 1 0;
  }

  .node-name {
    margin-bottom: 13px;
    line-height: 20px;
    color: #181f43;
    font-size: 12px;
    font-weight: 400;
  }

  .node {
    & > .user {
      display: flex;
      align-items: flex-start;
      margin-bottom: 4px;

      & + .user {
        margin-top: 8px;
      }

      .avatar {
        flex-shrink: 0;
        margin-right: 8px;
        transform: translateY(-1px);
      }

      .user-name {
        margin-right: 4px;
        line-height: 22px;
        color: #181f43;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .time {
      margin-bottom: 4px;
      line-height: 20px;
      color: $flow-form-symbol-color;
      font-size: 12px;
      font-weight: 400;
    }

    .comment {
      @include center('flex');

      align-items: flex-start;

      & > svg {
        flex-shrink: 0;
        margin-top: 4px;
        margin-right: 8px;
        font-size: 12px;
      }

      .text {
        flex: 1 1 0;
        line-height: 20px;
        color: $flow-form-field-name-text-color;
        font-size: 12px;
        font-weight: 400;
      }
    }

    :last-child {
      margin-bottom: 0;
    }
  }
}

.container + .container {
  margin-top: 25px;
}
