@import "@common/styles/var.scss";

.toolbox {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 24px;

  .node-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .icon {
    font-size: 14px !important;
    //font-weight: bold;
    color: $form-item-label-text-color;
    vertical-align: 0 !important;
  }

  :global {
    .ant-collapse {
      .ant-collapse-item {
        .ant-collapse-header {
          width: 100%;
          align-items: center;
          font-size: 14px;
          color: $form-item-label-text-color;
          padding: 0;
          margin-bottom: 12px;
        }

        .ant-collapse-arrow {
          margin-right: 6px;
        }

        .ant-collapse-content-box {
          padding: 0;
        }
      }
    }
  }
}
