.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  .number_container {
    position: relative;
    .icon {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 40px;
      height: 40px;
      .iconfont {
        display: inline-block;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 16px;
        text-align: center;
        margin: 12px;
      }
    }
    :global {
      .ant-input-number {
        width: 100%;
        .ant-input-number-input {
          padding-left: 40px;
        }
      }
    }
  }
}
