@import '@common/styles/var.scss';
@import '@common/styles/mixin.scss';

.countersign-checkbox__wrapper {
  display: flex;
  flex-direction: row !important;
  margin-bottom: 0;
  align-items: center;

  :global {
    .ant-form-item-label {
      margin-right: 8px;
      padding: 0 !important;

      label {
        cursor: pointer;
      }
    }
  }
}

.countersign-type__wrapper {
  margin: 12px 0;
}

.countersign-detail {
  display: flex;
  align-items: center;

  :global {
    .ant-form-item {
      width: 100px;
      margin: 0;
    }

    .ant-form-item-explain-error {
      position: absolute;
      top: 40px;
    }
  }
}

.btn-group {
  display: flex;

  .active {
    color: $primary-color;
    border: 1px solid $primary-color !important;
  }

  :global {
    .ant-space-item {
      flex: 1 1 0;

      button {
        width: 100%;
        border-color: transparent;
        border-radius: 0;
        background-color: $button-default-disabled-background-color;
      }
    }

    .ant-space-item:first-child {
      button {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }

    .ant-space-item:last-child {
      button {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}

.btn-configs {
  .approve {
    @include btntheme(#63c4ad);
  }

  .cascader {
    display: block;
    width: unset !important;
  }

  :global {
    .ant-form-item {
      margin-bottom: 14px;
    }

    .ant-form-item-with-help {
      margin-bottom: 0;
    }

    .ant-form-item:last-child {
      margin-bottom: 0;
    }

    .ant-cascader-menus {
      & > div {
        display: flex;
        align-items: stretch;
      }

      .ant-cascader-menu {
        width: 140px;
        max-height: 180px;
      }
    }

    .ant-cascader-menus-hidden {
      display: none;
    }
  }
}
