.header_help {
  flex: 1;
  background-color: #fff;
  .help_header{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 24px;
    .text_recent_app {
      flex: 1;
      font-size: 24px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.85);
    }
    .operation_all {
      flex: 0 0 54px;
      cursor: pointer;
      .text {
        padding-right: 4px;
        font-size: 16px;
      }
      .icon {
        font-size: 16px;
        color: #5e6576;
      }
    }
  }
  .ant-list-split .ant-list-header {
    border: 0 none;
  }
  .list {

    .icon-detail {
      font-size: 12px;

    }

    .ant-row {
      padding: 0 24px;
      .ant-list-item-meta-content {
        margin-bottom: 24px;
      }
      .ant-list-item-meta-description {
        font-size: 12px;
        color: rgba(24, 31, 67, 0.5);
        overflow: hidden;
        .desc {
          width: 100%;
          text-overflow: -o-ellipsis-lastline;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          padding-right: 10px;
        }
      }
      .ant-col {
        padding-left: 12px !important;
        padding-right: 12px !important;
      }
      .ant-list-item {
        border-right: 1px solid rgba(24, 31, 67, 0.08);
        margin-bottom: 50px;
      }

      >div:nth-child(4n) {
        .ant-list-item {
          border: 0 none;
        }
      }
      >div:nth-child(n+4) {
        .ant-list-item {
          margin-bottom: 0;
        }
      }
    }
  }
}
