@import '@common/styles/var.scss';
.container {
  .process-item {
    position: relative;
    border-radius: 3px;
    border: 1px solid rgba(24, 31, 67, 0.12);
    padding: 12px;
    margin-top: 32px;
    .delete-process {
      position: absolute;
      top: -32px;
      right: 0;
      width: 24px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .icon {
        font-size: 16px;
        &:hover {
          color: $primary-color;
        }
      }
      &.disabled {
        cursor: not-allowed;
      }
    }
    .mapping-wrap {
      margin-bottom: 0;
    }
  }
  .add-process {
    margin-top: 12px;
    border: 1px dashed rgba(24, 31, 67, 0.3);
    width: 100%;
    &:hover {
      border-color: $primary-color;
    }
  }
}

.mapping {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    .current,
    .target,
    .symbol {
      flex: 1;
      height: 40px;
      display: flex;
      justify-content: start;
      align-items: center;
    }
    .symbol,
    .delete {
      flex: 0 0 40px;
      justify-content: center;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    .item {
      display: flex;
      .current,
      .target,
      .delete,
      .symbol {
        flex: 1;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .symbol {
        flex: 0 0 40px;
      }
      .delete {
        flex: 0 0 36px;
        cursor: pointer;
        .icon {
          font-size: 16px;
          &:hover {
            color: $primary-color;
          }
        }
      }
      :global {
        .ant-form-item {
          margin-bottom: 8px;
        }
      }
    }
    .add-field {
      margin-top: 12px;
      width: 108px;
    }
  }
}
.type-select {
  position: relative;
  top: -24px;
}
