
.plugin-manager-container {
  padding: 24px;

  .operation-wrapper {
    display: flex;
    align-items: center;
  }

  .table-container {
    margin-top: 20px;
  }

  .title {
    width: 100px;
    font-size: 24px;
    font-weight: bold;
    color: #000000D9;
    margin-right: 32px;
  }

  .auth-config {
    .text-name {
      padding-left: 4px;
      padding-right: 8px;
    }

    .text-selected {
      color: #181F4380;
    }

    span {
      color: #181F43FF;
    }
  }

  .group-manage-btn {
    margin-right: 12px;
  }
}

.upload-plugins-modal-container {
  .json-info {
    svg {
      vertical-align: middle;
      font-size: 24px;
      padding-right: 6px;
    }

    span {
      vertical-align: middle;
      display: inline-block;
    }

    .code-text {
      padding-left: 24px;
      margin-top: 8px;
      color: #181F4380;
    }
  }

  .switch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    > .ant-form-item-label {
      flex: 1;
    }

    > .ant-form-item-control {
      flex: 0 0 56px;
    }
  }
}

