
.upload-json-container {
  text-align: center;

  .ant-upload {
    background-color: #fff !important;
  }

  .ant-upload-list-picture-card-container, .ant-upload.ant-upload-select-picture-card {
    width: 288px;
    height: 179px;
    border-radius: 3px;
    background-color: #fff !important;
    border: 1px dashed rgba(24, 31, 67, 0.3);

    &:active {
      box-shadow: 0px 0px 0px 4px rgba(24, 39, 67, 0.04);
    }
  }


  .ant-upload-list-item-info {

    &::before {
      left: 0;
    }

    .ant-upload-span {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .ant-upload-list-item-thumbnail {
        width: 48px;
        height: 48px;
      }

      .ant-upload-list-item-name {
        display: block;
      }
    }
  }


  .ant-upload-list-item-card-actions-btn {
    background-color: transparent;
  }

  .upload-image {
    margin-bottom: 5px;
  }

  .text-wrapper {
    color: #181F4380;
  }
}
