{
  "extends": ["../../.eslintrc", "plugin:react/jsx-runtime", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}