{
  "react/react-in-jsx-scope": "off",
  "filepath": "../../.prettierrc",
  "react/jsx-filename-extension": [
    1,
    {
      "extensions": [
        ".js",
        ".jsx",
        ".tsx",
        ".ts"
      ]
    }
  ],
  "endOfLine": "auto"
}