.form {
  .field {
    width: 110px;
  }
  .symbol {
    width: 110px;
  }
  .valueWrapper {
    flex: 1;
    max-width: calc(100% - 252px);
    margin-right: 0;
    .value {
      width: 100%;
    }
  }
  :global {
    .ant-form-item-control-input-content {
      display: flex;
    }
  }
}
