@import '@common/styles/var.scss';
@import '@common/styles/mixin.scss';

.project {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-right: 12px;
  color: #181f43;

  &.active {
    &.editing,
    &:hover {
      .icons {
        width: 50px;
        padding-left: 4px;
      }
    }

    .content {
      color: #fff;
      background-color: $primary-color;
      font-weight: 400;

      .name {
        border-color: rgba(#fff, 0.17);
      }
    }
  }

  .content {
    @include center('flex');

    padding: 0 6px;
    border-radius: 3px;
    line-height: 24px;
    background-color: rgba(24, 31, 67, 0.04);
    cursor: pointer;

    .name {
      margin-right: 8px;
      padding-right: 8px;
      border-right: 1px solid rgba(#181f43, 0.12);
    }
  }

  .icons {
    display: flex;
    width: 0;
    align-items: center;
    line-height: 1;
    font-size: 0;
    transition: width linear 0.15s;
    overflow: hidden;

    .edit-icon-container {
      margin-right: 7px;
    }

    .icon {
      font-size: 16px;
      cursor: pointer;

      &:hover,
      &.active {
        color: $primary-color;
      }
    }
  }

  .tips {
    width: 232px;
  }
}
