@import '@common/styles/var.scss';

.link {
  color: inherit;

  &:hover {
    color: $primary-color;
  }
}

.del {
  cursor: pointer;
  display: flex;
  font-size: 20px;

  &:hover {
    .icon {
      color: $danger-color;
    }
  }
}

.table {
  :global {
    .ant-table-column-sorters {
      display: inline-flex;

      .ant-table-column-title {
        margin-right: 10px;
      }
    }
  }
}
