@import '@common/styles/var.scss';

.status {
  width: 52px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;

  &.doing {
    background: rgba(76, 92, 219, 0.12);
    color: #3546c8;
  }

  &.stop {
    background: rgba(255, 85, 104, 0.12);
    color: #eb2e43;
  }

  &.reject {
    background: rgba(255, 153, 0, 0.12);
    color: #f67a00;
  }

  &.done {
    background: rgba(6, 196, 152, 0.12);
    color: #03a882;
  }

  &.recall {
    background: #ededf0;
    color: $title-text-color;
  }
}
