@import '@common/styles/var.scss';
@import '@/styles/var.scss';

.status {
  width: 52px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;

  &.doing {
    background: $flow-detail-status-doing-bg;
    color: $flow-detail-status-doing-text-color;
  }

  &.stop {
    background: $flow-detail-status-stop-bg;
    color: $flow-detail-status-stop-text-color;
  }

  &.reject {
    background: $flow-detail-status-reject-bg;
    color: $flow-detail-status-reject-text-color;
  }

  &.done {
    background: $flow-detail-status-done-bg;
    color: $flow-detail-status-done-text-color;
  }

  &.recall {
    background: $flow-detail-status-recall-bg;
    color: $flow-detail-status-recall-text-color;
  }
}
