@import '@common/styles/var.scss';
@import '@common/styles/theme-color.scss';

.flow-app-content {
  display: flex;
  flex-direction: column;
  padding: 24px;

  & > .start {
    margin-bottom: 12px;
  }

  & > .header {
    display: flex;
    flex-direction: row;

    & > .status-list {
      display: flex;
      align-items: center;
      height: 40px;

      & > .ant-checkbox-group {
        height: 40px;
        line-height: 40px;
      }
    }

    & > .search {
      flex: 1;
      display: flex;
      margin-right: 12px;

      & > .select {
        width: 200px;

        & > .ant-select-selector {
          background-color: transparent;
          border-color: transparent;
          box-shadow: none;
        }
      }
    }

    & > .operation {
      display: flex;
      align-items: center;
      height: 40px;

      & > .export {
        display: flex;
        cursor: pointer;

        & > .icon {
          font-size: 20px;
          margin-right: 4px;
        }

        & > .text {
          padding-right: 8px;
          white-space: nowrap;
          color: $body-text-color;
          border-right: 1px solid $menu-line-color;
        }

        &:hover {
          color: $primary-color;

          & > .icon {
            color: $primary-color;
          }
        }
      }

      & > .refresh {
        margin: 0 24px 0 12px;
        cursor: pointer;

        .icon {
          font-size: 20px;
        }

        &:hover {
          & > .icon {
            color: $primary-color;
          }
        }
      }
    }
  }

  & > .table-container {
    margin-top: 24px;
  }
}
