@import '@common/styles/var.scss';
@import '@common/styles/theme-color.scss';

.flow-app-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  & > .start {
    margin-bottom: 12px;
  }
  & > .header {
    display: flex;
    flex-direction: row;
    & > .status-list {
      display: flex;
      align-items: center;
      height: 40px;
      & > .ant-checkbox-group {
        height: 40px;
        line-height: 40px;
      }
    }
    & > .search {
      flex: 1;
      display: flex;
      margin-right: 12px;
      & > .select {
        width: 200px;
        & > .ant-select-selector {
          background-color: transparent;
          border-color: transparent;
          box-shadow: none;
        }
      }
    }
    & > .operation {
      display: flex;
      align-items: center;
      height: 40px;
      & > .export {
        display: flex;
        cursor: pointer;
        & > .icon {
          font-size: 20px;
          margin-right: 4px;
        }
        & > .text {
          padding-right: 8px;
          border-right: 1px solid rgba(24, 31, 67, 0.12);
        }
        &:hover {
          color: $primary-color;
          & > .icon {
            color: $primary-color;
          }
        }
      }
      & > .refresh {
        margin: 0 24px 0 12px;
        cursor: pointer;
        .icon {
          font-size: 20px;
        }
        &:hover {
          & > .icon {
            color: $primary-color;
          }
        }
      }
    }
  }
  & > .table-container {
    margin-top: 24px;
  }
  &.dark {
    background: $dark-content-background-color;
    height: 100%;
    .ant-select-dropdown,
    .ant-select-clear {
      background-color: rgba($dark-content-background-color, 1);
    }
    .ant-select-item-option,
    .ant-select-selection-item,
    .ant-select-clear {
      color: $dark-text-color;
    }
    .ant-select-item-option-active {
      background-color: rgba(76, 92, 219, 0.08);
    }
    .ant-select-selector {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }
    & > .header {
      & > .status-list {
        .ant-checkbox-wrapper {
          color: $dark-text-color;
        }
      }
      & > .operation {
        & > .export {
          color: $dark-text-color;
          .text {
            border-color: rgba(255, 255, 255, 0.17);
          }
        }
      }
    }
    & > .table-container {
      .ant-pagination-options-size-changer {
        color: $dark-text-color;
        &.ant-select-focused {
          .ant-select-selector {
            background-color: transparent;
          }
        }
      }
      .ant-select.ant-select-single:not(.ant-select-customize-input) {
        .ant-select-selector {
          &:hover,
          &:active {
            background-color: transparent;
          }
        }
      }
      .ant-table {
        background-color: $dark-content-background-color;
        color: $dark-text-color;
        .ant-table-thead {
          & > tr {
            & > th {
              background-color: $dark-content-background-color;
              color: $dark-text-color;
              border-bottom-color: $dark-text-color;
            }
          }
          .ant-table-cell-scrollbar {
            display: none;
          }
        }
        td.ant-table-column-sort {
          background-color: $dark-content-background-color;
        }
        .ant-table-tbody {
          .ant-table-row {
            &:hover {
              & > td {
                background-color: rgba($dark-side-background-color, 1);
              }
            }
          }
          .ant-table-cell {
            border-bottom-color: $dark-text-color;
          }
        }
      }
      .ant-pagination-item-link {
        border-color: transparent;
        background-color: transparent;
        color: $dark-text-color;
      }
      .ant-pagination-item {
        border-color: transparent;
        background-color: transparent;
        color: $dark-text-color;
      }
      .ant-empty-description {
        color: $dark-text-color;
      }
      .ant-table-tbody > tr.ant-table-placeholder:hover > td {
        background-color: rgba($dark-content-background-color, 1);
      }
    }
  }
}
