@import '@common/styles/mixin.scss';

.flow {
  position: relative;
  height: 100%;
  background-color: rgba(#182743, 0.04);

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 95px;
    overflow-y: auto;
  }

  :global {
    .ant-drawer-right {
      height: unset;
      top: 64px;
      bottom: 0;

      .ant-drawer-body {
        display: flex;
        flex-direction: column;
        padding: 0;
      }
    }

    .ant-drawer-mask {
      background-color: transparent;
    }

    .ant-cascader-menu {
      height: unset;
    }
  }

  .editor {
    flex: 1 1 0;
    padding: 24px;
    overflow-y: auto;

    :global {
      .ant-form-item-label {
        padding-bottom: 12px;

        & > label {
          line-height: 22px;
          color: rgba(#181f43, 0.95);
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}

.tiptitle {
  @include center('flex');

  height: 24px;
  line-height: 24px;
  color: rgba(#181f43, 0.75);
  font-size: 16px;
  font-weight: 500;

  svg {
    margin-right: 8px;
    color: #ff9900;
    font-size: 20px;
  }
}
