.flow {
  height: calc(100vh - 64px);
  background-color: rgba($color: #182743, $alpha: 0.04);

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 95px;
    overflow-y: auto;
  }

  :global {
    .ant-drawer-right {
      height: unset;
      top: 64px;
      bottom: 0;

      .ant-drawer-body {
        position: relative;
        padding: 0;
      }
    }

    .ant-drawer-mask {
      background-color: transparent;
    }
  }

  .editor {
    height: 100%;
    padding: 24px;
    padding-top: 74px;

    .title {
      position: absolute;
      left: 24px;
      top: 24px;
      line-height: 26px;
      color: rgba(0, 0, 0, 0.85);
      font-size: 18px;
      font-weight: 500;
    }
  }
}
