@import '@common/styles/var.scss';

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  border-bottom: 1px solid $button-default-border-color;
  background: $header-background-color;

  .edit_header {
    width: 100%;

    .steps {
      // 这里的内容宽度和扩展页面的左边距关联
      display: inline-flex;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      .step {
        height: 56px;
        line-height: 56px;
        font-size: 16px;
        font-weight: 400;
        color: $menu-title-text-color;
        white-space: nowrap;

        .number {
          font-size: 18px;
          font-weight: bold;
          margin-right: 4px;
        }

        &.active {
          color: $menu-title-text-color;
          border-bottom: 5px solid $primary-color;
        }
      }

      .separator {
        width: 16px;
        height: 56px;
        line-height: 56px;
        text-align: center;
        font-size: 12px;
        color: #818a9e;
        margin: 0 12px;

        .iconfont {
          position: relative;
          top: 2px;
        }
      }
    }

    .operation {
      display: flex;
      align-items: center;
      height: 56px;
      line-height: 56px;

      .iconfont {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 20px;
        color: #818a9e;
        margin-top: 22px;
        margin-right: 24px;
        cursor: pointer;
      }

      .prev {
        min-width: 74px;
        margin-right: 12px;
      }

      .save {
        width: 74px;
        margin-right: 12px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
      }

      .next {
        width: 74px;
        margin-right: 24px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
      }

      .publish {
        width: 74px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;

        .iconfont {
          position: relative;
          right: 4px;
          margin: 0;
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
}
