.container {
  display: flex;
  width: 260px;
  height: 75px;
  background: rgba(24, 39, 67, 0.03);
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 6px 24px 0px rgb(24 31 67 / 10%);
    .right {
      background: #fff;
    }
  }
  .left {
    flex: 0 0 60px;
    background-color: #e7ebfd;
    .image {
      width: 100%;
    }
  }
  .right {
    flex: 1;
    background: rgba(24, 39, 67, 0.03);
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 24px;
    padding: 25px 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
