.container {
  :global {
    .ant-form-item-label {
      padding-bottom: 4px;
      > label {
        height: 22px;
        line-height: 22px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(24, 31, 67, 0.95);
      }
    }
    .ant-radio-group {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .ant-radio-button-wrapper {
        width: 47px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        background: rgba(24, 39, 67, 0.04);
        border-radius: 3px;
        border: none;
        font-weight: 400;
        color: rgba(24, 31, 67, 0.95);
        box-shadow: none !important;
        &:hover {
          color: #4c5cdb;
        }
      }
      .ant-radio-button-wrapper:not(:first-child)::before {
        display: none;
      }
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        color: #4c5cdb;
        background-image: url(~@/assets/selected.png);
        background-position: top right;
        background-repeat: no-repeat;
        background-color: rgba(76, 92, 219, 0.08);
      }
    }
    .ant-form-item-label-left {
      height: 32px;
      line-height: 32px;
    }
    .ant-switch {
      float: right;
    }
    .input_number {
      width: 100%;
    }
  }
}
