@import "@common/styles/var.scss";
@import "@common/styles/theme-color.scss";
.container {
  .header {
    .search {
      :global {
        #todo_form {
          width: 100%;
          .name {
            flex: 1;
            margin-right: 40px;
          }
          .starter {
            flex: 1;
            margin-right: 40px;
          }
          .timeRange {
            flex: 2;
            margin-right: 0;
          }
        }
      }
    }
    .operationContainer {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 12px;
      .operation {
        display: flex;
        .search {
          flex: 0 0 60px;
          border-radius: 3px;
          border: 1px solid rgba(76, 92, 219, 0.85);
          font-size: 14px;
          font-weight: 400;
          color: $primary-color;
          margin-right: 12px;
          &:hover {
            border: 1px solid rgba(76, 92, 219, 0.5);
            color: rgba(76, 92, 219, 0.8);
          }
        }
        .reset {
          flex: 0 0 60px;
          border-radius: 3px;
          font-size: 14px;
          font-weight: 400;
          // margin-right: 12px;
        }
        .unfold {
          height: 32px;
          line-height: 32px;
          cursor: pointer;
          .icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            color: #818a9e;
            margin-right: 4px;
          }
          .text {
            font-size: 14px;
            font-weight: 400;
            color: rgba(24, 31, 67, 0.95);
          }
        }
      }
    }
  }
  .content {
    margin-top: 24px;
    .name {
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
    .stayTime {
      display: flex;
      align-items: center;
      .timeout {
        flex: 0 0 32px;
        margin-left: 8px;
      }
    }
  }
  /* :global {
    .ant-picker-range,
    .ant-picker-input > input {
      color: $menu-title-text-color !important;
    }
    .ant-picker-panel-container {
      background-color: $select-dropdown-body-background-color !important;
      box-shadow: 0px 6px 24px 0px $dropdown-border-shadow-color;
      .ant-picker-panel,
      .ant-picker-header,
      .ant-picker-datetime-panel .ant-picker-time-panel,
      .ant-picker-time-panel-column:not(:first-child) {
        border-color: $dropdown-header-border-color !important;
      }
      .ant-picker-content {
        & > thead > tr {
          th {
            color: $menu-title-text-color !important;
          }
        }
      }
      .ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
        background-color: $time-selected-bg;
      }

      .ant-picker-time-panel-column > li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner:hover {
        background-color: $time-selected-bg;
        color: $time-selected-text-color !important;
      }

      .ant-picker-cell-inner,
      .ant-picker-time-panel-cell-inner {
        color: $menu-title-text-color;
      }
      .ant-picker-year-btn,
      .ant-picker-month-btn,
      .ant-picker-header-view {
        color: $body-text-color !important;
      }
      .ant-picker-cell-today .ant-picker-cell-inner {
        color: $primary-color !important;
        &::before {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          right: 0;
          top: 0;
          left: auto;
          background-color: $primary-color;
          border: 0 none;
        }
      }
      .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
      .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
      .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
        background-color: $primary-color !important;
      }
      .ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner,
      .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end)
        .ant-picker-cell-inner {
        background-color: $primary-color !important;
        color: $btn-primary-text-color !important;
      }
      .ant-btn-primary {
        background: $primary-color;
        color: $btn-primary-text-color !important;
      }
      .ant-btn-primary[disabled] {
        border: 0 none;
        background-color: $disabled-primary-bg !important;
        color: $disabled-primary-color !important;
      }

      .ant-picker-cell-in-view.ant-picker-cell-in-range::before {
        background-color: $time-selected-bg;
      }
      .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after,
      .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after,
      .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start-single::after,
      .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-end-near-hover::after,
      .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-start-near-hover::after,
      .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-end-single::after,
      .ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-in-range)::after {
        border-color: $time-selected-bg;
      }

      .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
      .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
        background-color: transparent;
      }
      .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover::before,
      .ant-picker-cell-in-view.ant-picker-cell-range-start.ant-picker-cell-range-hover::before,
      .ant-picker-cell-in-view.ant-picker-cell-range-end.ant-picker-cell-range-hover::before,
      .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single).ant-picker-cell-range-hover-start::before,
      .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single).ant-picker-cell-range-hover-end::before,
      .ant-picker-panel
        > :not(.ant-picker-date-panel)
        .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start::before,
      .ant-picker-panel
        > :not(.ant-picker-date-panel)
        .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end::before {
        background: $time-range-hover-bg;
      }
      .ant-picker-date-panel
        .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start
        .ant-picker-cell-inner::after,
      .ant-picker-date-panel
        .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end
        .ant-picker-cell-inner::after {
        background-color: transparent;
      }

      .ant-picker-cell-disabled {
        cursor: not-allowed;
        &::before {
          background-color: transparent !important;
        }
        .ant-picker-cell-inner {
          cursor: not-allowed;
          color: $hint-text-color !important;
        }
      }
    }
  } */
}
