.container {
  :global {
    .wrapper_class {
      .toolbar_class {
        .inline_wrap {
          .rdw-option-wrapper {
            padding: 5px 3px;
            min-width: 16px;
            height: 30px;
          }
        }
        .block_wrap {
          width: 76px;
          font-size: 13px;
        }
        .fontsize_wrap {
          width: 48px;
        }
        .align_wrap {
          .rdw-option-wrapper {
            width: 30px;
            height: 30px;
          }
        }
        .rdw-colorpicker-wrapper,
        .rdw-link-wrapper,
        .rdw-image-wrapper {
          .rdw-option-wrapper {
            width: 30px;
            height: 30px;
          }
        }
        .color_pop {
          left: -6px;
          width: 218px;
          height: 200px;
          .rdw-colorpicker-modal-options {
            overflow: auto;
          }
        }
        .link_pop {
          left: -44px;
          width: 218px;
          height: 220px;
        }
        .image_pop {
          left: -82px;
          width: 218px;
        }
      }
      .editor_class {
        border: 1px solid #f1f1f1;
        min-height: 64px;
        .public-DraftStyleDefault-block {
          margin: 8px 4px;
          line-height: 24px;
          min-height: 24px;
        }
      }
    }
  }
}
