.container {
  .title {
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 40px;
    background: rgba(24, 39, 67, 0.04);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(24, 31, 67, 0.95);
  }
  .dict_content {
    padding: 12px 0;
  }
  .content {
    .form {
      margin-top: 24px;
      margin-bottom: 0;
      .apiConfig {
        div {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
