.muliText {
  position: relative;
  display: flex;
  height: 40px;
  line-height: 40px;
  padding: 0 6px;
  align-items: center;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  .textContainer {
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 100px);
    text-align: right;
    .textList {
      position: relative;
      display: inline-block;
      .textWrapper {
        display: inline-block;
        position: relative;
        margin-right: 5px;
        padding: 0 2px;
        border-radius: 3px;
        min-width: 20px;
        height: 22px;
        text-align: center;
        line-height: 22px;
        background: #e5f2fb;
        .delete {
          display: none;
          position: absolute;
          top: -4px;
          right: 0;
          z-index: 6;
          background: #fff;
          font-size: 12px;
          cursor: pointer;
        }
        &:hover {
          .delete {
            display: block;
          }
        }
      }
    }
  }
  .input {
    flex: none;
    width: 90px;
    display: inline-block;
    height: 22px;
    line-height: 20px;
    vertical-align: middle;
    padding: 0 8px;
    outline: 0;
    margin-left: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px dashed #91a1b7;
  }
}
