.muliText {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(24, 39, 67, 0.04);
  border-radius: 3px;
  overflow: hidden;
  .textContainer {
    .textList {
      display: flex;
      flex-wrap: wrap;
      padding: 4px;
      .textWrapper {
        display: flex;
        min-width: 32px;
        height: 24px;
        line-height: 24px;
        margin: 4px;
        margin-bottom: 0;
        padding: 0 6px;
        text-align: center;
        background: rgba(24, 39, 67, 0.04);
        border-radius: 3px;
        border: 1px solid rgba(24, 31, 67, 0.12);
        .text {
          border-radius: 4px;
          color: rgba(0, 0, 0, 0.85);
          margin-right: 4px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .delete {
          vertical-align: middle;
          font-size: 10px;
          cursor: pointer;
          &:hover {
            & > svg {
              color: #4c5cdb;
            }
          }
        }
      }
    }
  }
  .input {
    background: transparent;
    box-shadow: none;
    .ok {
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background: rgba(6, 196, 152, 1);
      cursor: pointer;
      margin-right: 12px;
      & > svg {
        font-size: 12px;
        color: #fff;
      }
      &:hover {
        background: rgba(6, 196, 152, 0.8);
      }
    }
  }
}
