@import '@common/styles/var.scss';
.members {
  display: flex;
  align-items: center;
  .action {
    margin-top: 14px;
    .add {
      width: 20px;
      height: 20px;
      padding: 4px;
      border-radius: 50%;
      color: #fff;
      background-color: $primary-color;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
